@media (max-width: 1750px) {
	.single__right{
		max-width: 690px;
	}
	.single__related-item{
		max-width: 161px;
	}
	.single__related-info{
		font-size: 14px;
	}
	.footer__copyright{
		font-size: 14px;
	}
	.footer__text{
		line-height: 23px;
	}
	.footer__col{
		font-size: 14px;
		max-width: 160px;
	}
	.footer__col-title{
		font-size: 16px;
	}
	.footer__recent-info{
		font-size: 12px;
	}
	.footer__col-1, .footer__col-2{
		max-width: 285px;
	}

	.single__calculator-fields{
		max-width: 72%;
		width: 100%;
	}
	.single__calculator-inner{
		padding: 40px 40px 40px 40px;
	}
	.single__calculator-item{
		max-width: 200px;
	}
	.single__calculator-form{
		font-size: 16px;
	}
	.single__calculator-select .select__button-name{
		font-size: 16px;
		line-height: 19px;
	}
	.single__calculator-price{
		font-size: 40px;
		line-height: 40px;
	}
	.single__calculator-fill{
		margin-top: 10px;
	}
	.single__calculator-bottom{
		margin-top: 37px;
	}
	.single__calculator-field{
		padding: 15px 16px;
	}
	.single__calculator-bottom{
		flex-wrap: wrap;
		gap: 60px;
	}
	.single__calculator-box{
		gap: 25px;
		flex-direction: column;
		align-items: flex-start;
	}
	.single__calculator-option{
		font-size: 16px;
		padding: 12px 15px;
	}
	.single__calculator-input{
		width: 100px;
	}
	.account__title {
		font-size: 43px;
		line-height: 45px;
	}
	.tabs__orders-td {
		font-size: 14px;
		line-height: 20px;
		padding: 30px 12px 15px;
		max-width: 125px;
	}
	.tabs__orders-td.repeat-td {
		padding: 30px 12px 0px;
	}
	.tabs__orders-repeat {
		font-size: 17px;
		line-height: 20px;
		padding: 13px 20px 13px 20px;
	}
	.tabs__orders-th {
		font-size: 16px;
		line-height: 20px;
	}
	.tabs__orders-repeat img {
		width: 16px;
	}
	.title {
		font-size: 50px;
		line-height: 50px;
	}
	.subtitle {
		font-size: 27px;
		line-height: 30px;
	}
	.container {
		max-width: 90%;
	}
	.burger__search {
		padding: 10px 14px 10px 14px;
	}
	.single__product-thumbnail {
		width: 300px;
		height: 300px;
	}
	.single__banner-inner {
		max-width: 1050px;
	}
	.single__banner-text {
		font-size: 15px;
	}
	.single__banner-col {
		max-width: 45%;
	}
	.single__banner-phone {
		top: -20px;
		width: 380px;
	}
	.single__accordion-subtitle {
		font-size: 19px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.single__accordion-text {
		font-size: 15px;
	}
	.single__accordion-info {
		max-width: 360px;
	}
	.single__accordion-image {
		height: 45px;
	}
	.single__accordion-list li {
		max-width: 450px;
	}
	.single__accordion-list {
		gap: 50px;
	}
	.single__accordion-title {
		font-size: 30px;
		line-height: 32px;
	}
}
@media (max-width: 1500px) {
	.single__rating-item{
		font-size: 14px;
		display: inherit;
	}
	.single__package-account{
		font-size: 14px;
	}
	.single__package-account img{
		width: 16px;
	}
	.footer__logo img{
		width: 180px;
	}
	.single__calculator{
		margin: 100px 0;
	}
	.single__calculator-price {
		font-size: 35px;
		line-height: 34px;
	}
	.single__calculator-box{
		gap: 15px;
	}
	.popup__inner{
		max-width: 530px;	
		padding: 40px 60px 40px;
	}
	.tabs__orders-row {
		max-width: 700px;
		padding-bottom: 30px;
	}
	.tabs__orders-td {
		padding: 40px 22px 15px;
	}
	.tabs__orders-td span,
	.repeat-td {
		white-space: nowrap;
	}
	.account__menu {
		font-size: 16px;
	}
	.account__title {
		font-size: 38px;
		line-height: 40px;
	}
	.account__title {
		font-size: 42px;
		line-height: 42px;
		margin-bottom: 40px;
	}
	.tabs__bar-info {
		margin-bottom: 30px;
	}
	.tabs__content {
		margin-left: 100px;
	}
	.tabs__orders-content {
		margin-left: 36px;
	}
	.services__item-title {
		margin-bottom: 9px;
	}
	.services__item-subtitle {
		font-size: 17px;
		line-height: 17px;
	}
	.services__item {
		border-radius: var(--borderRadius);
		padding: 17px 18px 17px;
	}
	.title {
		font-size: 45px;
		line-height: 45px;
	}
	.subtitle {
		font-size: 24px;
		line-height: 27px;
	}
	.search {
		margin: 60px 0 50px;
	}
	.general-header {
		font-size: 15px;
	}
	.menu__favorite-icon {
		width: 24px;
	}
	.menu__favorite-count {
		width: 12px;
		height: 12px;
		font-size: 9px;
		line-height: 12px;
	}
	.menu__burger span {
		width: 24px;
	}
	.menu__burger span + span {
		margin-top: 7px;
	}
	.logo img {
		width: 130px;
	}
	.menu__auth-reg {
		padding: 5px 13px;
		margin: 0 35px 0 14px;
	}
	.single__services {
		margin-bottom: 80px;
	}
	.single__about-left {
		max-width: 600px;
	}
	.single__about-text {
		max-width: 450px;
	}
	.single__about-text li {
		font-size: 15px;
	}
	.single__about-text li + li {
		margin-top: 20px;
	}
	.single__about-inner {
		padding: 25px 0;
	}
	.single__about-image {
		max-width: 200px;
	}
	.single__promotion-item {
		font-size: 14px;
	}
	.single__about-rating {
		margin: 5px 0;
	}
	.single__about-right {
		padding: 35px;
	}
	.home__container {
		margin: 130px auto 0;
	}
	.burger {
		max-width: 280px;
		padding: 36px 16px 36px;
	}
	.single__product-thumbnail {
		width: 250px;
		height: 250px;
	}
	.single__product-favorite {
		right: 13px;
		bottom: 10px;
	}
	.single__product-favorite img {
		width: 25px;
	}
	.single__related-item:last-child {
		display: none;
	}
	.single__right {
		max-width: 600px;
	}
	.single__summary {
		max-width: 280px;
	}
	.single__additional {
		font-size: 13px;
		justify-content: center;
	}
	.single__rating-item img {
		width: 15px;
	}
	.single__class-item {
		font-size: 13px;
		line-height: 16px;
	}
	.single__class {
		font-size: 14px;
		margin: 12px 0;
		padding: 11px 25px 11px 16px;
	}
	.single__class-list {
		margin-bottom: 20px;
	}
	.single__price {
		font-size: 30px;
		line-height: 35px;
	}
	.single__retail-price {
		font-size: 20px;
		line-height: 22px;
	}
	.single__related-title {
		font-size: 17px;
		line-height: 19px;
		margin-bottom: 20px;
	}
	.single__fill {
		margin-bottom: 20px;
	}
	.single__review-item {
		font-size: 14px;
	}
	.single__package-title {
		font-size: 17px;
		line-height: 18px;
	}
	.single__breadcrumb {
		font-size: 15px;
		margin-bottom: 20px;
	}
	.single__info-item {
		font-size: 14px;
	}
	.single__info {
		margin: 20px 0 20px;
	}
	.single__package-vendor,
	.single__package-cat {
		font-size: 14px;
	}
	.single__package {
		margin-bottom: 25px;
	}
	.single__more-link {
		padding-right: 25px;
		margin-top: 27px;
		font-size: 15px;
	}
	.single__more-link span {
		width: 10px;
		height: 2px;
	}
	.single__more-link span:first-child {
		right: 6px;
	}
	.single__product {
		margin: 60px 0 50px;
	}
	.single__banner-phone {
		top: -15px;
		width: 340px;
	}
	.single__banner-title {
		margin-bottom: 25px;
	}
	.single__banner-subtitle {
		font-size: 20px;
		line-height: 20px;
		margin-bottom: 10px;
		min-height: 40px;
	}
	.single__banner-phone {
		display: none;
	}
	.single__accordion-title {
		padding-right: 30px;
	}
	.single__accordion {
		margin: 40px 0 50px;
	}
	.single__accordion-title span {
		width: 10px;
		height: 2px;
	}
	.single__accordion-title span:first-child {
		right: 6px;
	}
	.single__accordion-title {
		font-size: 27px;
		line-height: 30px;
	}
	.single__video-title,
	.single__services-title {
		margin-bottom: 25px;
	}
}
@media (max-width: 1360px) {
	.home__container {
		margin: 110px auto 0;
	}
	.footer__col-1, .footer__col-2{
		max-width: 265px;
	}
	.single__calculator{
		margin: 60px 0;
	}
	.single__calculator-bottom{
		gap: 30px;
	}
	.single__calculator-input{
		padding: 14px 0;
	}
	.single__calculator-btn {
		padding: 14px 46px;
		font-size: 17px;
	}
	.single__calculator-select button{
		padding: 14px 40px 14px 16px;
	}
	.single__calculator-form,
	.single__calculator-select .select__button-name,
	.single__calculator-option{
		font-size: 15px;
	}
	.single__calculator-input{
		width: 80px;
	}
	.single__calculator-item{
		max-width: 180px;
	}
	.popup__input, .popup__select-payment, .popup__select-gender,
	.popup__list-option{
		font-size: 15px;
		padding: 14px 25px 14px 18px;
	}
	.popup__bottom{
		font-size: 15px;
	}
	.popup__box{
		margin: 20px 0 14px;
	}
	.popup__title{
		margin-bottom: 25px;
	}
	.popup__select-gender, .popup__input-email{
		padding-left: 56px;
		padding-right: 56px;
	}
	.popup__item + .popup__item{
		margin-top: 20px;
	}
	.popup__price{
		font-size: 38px;
		line-height: 40px;
	}
	.popup__retail-price{
		font-size: 21px;
		line-height: 21px;
	}
	.popup__retail-sale{
		font-size: 10px;
	}
	.popup__inner{
		padding: 40px 50px 40px;
		max-width: 480px;
	}
	.single__banner-title {
		max-width: 800px;
	}
	.home__box {
		max-width: 600px;
	}
	.title {
		font-size: 42px;
		line-height: 42px;
	}
	.subtitle {
		font-size: 23px;
		line-height: 25px;
	}
	.container {
		max-width: 100%;
	}
	.catalog__item {
		max-width: 170px;
	}
	.catalog__item-info {
		font-size: 14px;
		line-height: 17px;
	}
	.catalog__item-title {
		margin: 10px 0 4px;
		font-size: 17px;
		line-height: 17px;
	}
	.catalog__item-permalink {
		font-size: 17px;
		padding: 11px 22px;
	}
	.single__btn-dark {
		font-size: 16px;
		line-height: 20px;
	}
	.catalog__box-top {
		margin: 0 0 35px;
	}
	.catalog__container {
		margin-bottom: 35px;
	}
	.catalog__filter-text {
		font-size: 16px;
	}
	.catalog__breadcrumbs {
		margin: 90px 0 40px;
	}
	.catalog__filter-item {
		max-width: 170px;
		font-size: 16px;
	}
	.catalog__filter-image {
		width: 20px;
	}
}
@media (max-width: 1200px) {
	.account__header-bar {
		padding: 35px 33px 15px;
		right: 50px;
		top: 95px;
	}
	.tabs__settings-profile {
		max-width: 600px;
	}
	.account__title {
		font-size: 35px;
		line-height: 37px;
	}
	.tabs__replenished-text {
		font-size: 18px;
		line-height: 22px;
	}
	.tabs__replenished-subtext {
		font-size: 16px;
		line-height: 35px;
	}
	.tabs__content {
		margin-left: 36px;
	}
	.tabs__social-text {
		font-size: 17px;
		line-height: 20px;
	}
	.tabs__support-social {
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}
	.tabs__support-form {
		width: 350px;
	}
	.tabs__profile-form {
		max-width: 420px;
	}
	.account__tabs-bar {
		padding: 30px 25px;
	}
	.tabs__list-link {
		font-size: 16px;
		line-height: 35px;
		padding: 0 10px;
	}
	.tabs__account-btn,
	.tabs__balance-btn,
	.tabs__support-btn,
	.tabs_-replenished-btn {
		padding: 13px 23px;
		font-size: 17px;
	}
	.tabs__balance {
		width: 350px;
	}
	.tabs__balance-btn {
		margin-top: 25px;
	}
	.tabs-input,
	.select__button,
	.select__list-option,
	.tabs-textarea {
		font-size: 15px;
		padding: 10px 16px;
	}
	.tabs__support-notice {
		font-size: 15px;
	}
	.select__button span {
		width: 10px;
		height: 2px;
	}
	.select__button span:nth-child(2) {
		right: 22px;
	}
	.tabs__subtitle {
		font-size: 20px;
	}
	.services__item-title {
		font-size: 26px;
		line-height: 26px;
	}
	.services__item-subtitle {
		font-size: 16px;
		line-height: 16px;
	}
	.search {
		margin: 50px 0 40px;
	}
	.single__services {
		margin-bottom: 30px;
	}
	.single__about-right {
		padding: 25px;
	}
	.single__accordion-text {
		font-size: 13px;
	}
	.single__accordion-image {
		height: 35px;
	}
	.single__accordion-list {
		gap: 30px;
		padding: 30px 0 10px;
	}
	.single__accordion-subtitle {
		font-size: 16px;
		line-height: 18px;
	}
	.single__accordion {
		margin: 20px 0 30px;
	}
	.single__accordion-list li {
		max-width: 380px;
	}
	.single__accordion-info {
		max-width: 310px;
	}
	.logo {
		width: 150px;
	}
	.menu__auth-reg {
		margin: 0 30px 0 14px;
	}
	.general__menu-burger {
		margin: 0 25px 0 30px;
	}
	.dropdown {
		font-size: 18px;
		line-height: 18px;
		padding-right: 25px;
	}
	.burger__search {
		padding: 6px 14px 6px 14px;
		font-size: 14px;
	}
	.burger__search img {
		width: 15px;
	}
	.menu__sub-link {
		font-size: 15px;
	}
	.dropdown span {
		width: 8px;
		height: 2px;
	}
	.dropdown span:first-child {
		right: 5px;
	}
	.single__right {
		max-width: 550px;
	}
	.tabs__orders-row {
		max-width: 600px;
		padding-bottom: 30px;
	}
	.popup__input, .popup__select-payment, .popup__select-gender,
	.popup__list-option{
		font-size: 15px;
		padding: 14px 25px 14px 18px;
		line-height: 18px;
	}
	.popup__select-gender, .popup__input-email{
		padding-left: 56px;
		padding-right: 56px;
	}
}
@media(max-width: 1100px){
	.footer__col{
		max-width: 300px;
	}
	.footer__col-3,
	.footer__col-5{
		max-width: 110px;
	}
	.footer__inner{
		gap: 40px;
		flex-wrap: wrap;
	}
}
@media (max-width: 1000px) {
	.single__calculator{
		margin: 40px 0;
	}
	.single__calculator-fields{
		max-width: 100%;
	}
	.single__calculator-bottom{
		flex-direction: column;
		align-items: flex-start;
	}
	.single__calculator-inner {
		padding: 25px 25px 25px 25px;
	}
	.single__calculator-bottom{
		gap: 30px;
	}
	.tabs__orders-row {
		max-width: 490px;
		padding-bottom: 30px;
	}
	.account__header-bar {
		padding: 35px 33px 15px;
		right: 10px;
		top: 90px;
	}
	.account__breadcrumbs {
		margin: 50px 0 35px;
	}
	.arrow-up {
		width: 40px;
		height: 40px;
	}
	.arrow-up img {
		width: 12px;
	}
	.account__menu {
		gap: 30px;
	}
	.tabs__bar-logo {
		width: 40px;
		height: 40px;
	}
	.tabs__bar-title {
		font-size: 19px;
		line-height: 20px;
	}
	.tabs__list-link {
		font-size: 16px;
	}
	.account__tabs-bar {
		padding: 20px 20px;
	}
	.tabs__settings-profile {
		flex-direction: column;
	}
	.account__tabs-add-photo {
		margin-bottom: 16px;
	}
	.tabs__profile-form,
	.tabs__account-form {
		max-width: 350px;
	}
	.single__about-left {
		max-width: 500px;
	}
	.single__about-text {
		max-width: 380px;
	}
	.services {
		gap: 25px;
		justify-content: flex-start;
	}
	.services__item-box {
		max-width: 200px;
	}
	.home-services {
		justify-content: center;
	}
	.services__item-title {
		font-size: 24px;
		line-height: 24px;
	}
	.services__item-subtitle {
		font-size: 15px;
		line-height: 15px;
	}
	.services__item-arrow svg {
		width: 15px;
	}
	.search {
		margin: 40px 0 40px;
	}
	.title {
		font-size: 40px;
		line-height: 40px;
	}
	.subtitle {
		font-size: 23px;
		line-height: 25px;
	}
	.plyr__controls svg {
		width: 12px;
	}
	.single__about-info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.single__about-btn {
		width: 100%;
		text-align: center;
		color: #181818;
		background: #fff;
	}
	.single__promotion-item {
		color: #fff;
	}
	.single__about-right {
		background: none;
		padding: 0;
	}
	.single__about-product .single__review-item {
		color: #fff;
	}
	.single__about-inner {
		flex-direction: column;
		align-items: flex-start;
	}
	.single__about-right {
		margin-top: 25px;
	}
	.single__review-icon img:nth-child(2) {
		display: block;
	}
	.single__about-product .single__review-icon img {
		stroke: #fff;
	}
	.single__about-product {
		flex-direction: column;
	}
	.single__about-image {
		margin-bottom: 20px;
	}
	.single__about-info {
		margin: 0;
	}
	.home__container {
		margin: 90px auto 0;
	}
	.single__promotion-item {
		font-size: 14px;
	}
	.single__package-title {
		font-size: 15px;
		line-height: 16px;
	}
	.single__product {
		flex-direction: column;
	}
	.single__right {
		order: 0;
	}
	.single__left {
		order: 1;
	}
	.single__breadcrumb-mobile {
		display: flex;
		margin-top: 35px;
	}
	.single__breadcrumb-general {
		display: none;
	}
	.single__title-mobile {
		display: block;
	}
	.single__product {
		margin: 0px 0 50px;
	}
	.single__title-mobile {
		max-width: 400px;
		width: 100%;
		margin-bottom: 36px;
	}
	.single__left,
	.single__right {
		max-width: 600px;
	}
	.single__right {
		margin-bottom: 35px;
	}
	.popup__inner{
		max-width: 400px;
		padding: 40px 40px 40px;
	}
	.popup__title{
		font-size: 35px;
	}
	.popup__input, .popup__select-payment, .popup__select-gender, .popup__list-option{
		font-size: 14px;
		padding: 12px 25px 12px 18px;
	}
	.popup__box{
		flex-direction: column;
	}
	.popup-submit{
		margin-top: 10px;
	}
	.popup__bottom{
		font-size: 14px;
	}
	.popup__select-gender, .popup__input-email{
		background-position: left 12px center;
		padding-left: 42px;
		padding-right: 46px;
	}
}
@media (max-width: 850px) {
	.footer__col-3,
	.footer__col-4{
		max-width: 33%;
	}
	.single__calculator-col{
		width: 100%;
	}
	.single__calculator-fields{
		flex-direction: column;
	}
	.single__calculator-bottom{
		gap: 20px;
	}
	.single__calculator-form, .single__calculator-select .select__button-name, .single__calculator-option{
		font-size: 14px;
	}
	.single__calculator-form, .single__calculator-select .select__button-name, .single__calculator-option{
		font-size: 14px;
		line-height: 16px;
	}
	.single__calculator-option{
		padding: 14px 16px;
	}
	.single__calculator-field{
		font-size: 14px;
		padding: 13px 16px;
	}
	.tabs__orders-row {
		max-width: 450px;
	}
	.account__title {
		font-size: 30px;
		line-height: 32px;
	}
	.single__banner-title {
		max-width: 350px;
	}
	.search {
		margin: 35px 0 35px;
	}
	.single__services {
		margin-bottom: 15px;
	}
	.single__accordion-list li {
		max-width: 500px;
	}
	.single__accordion-info {
		max-width: 400px;
	}
	.home__container {
		margin: 70px auto 0;
	}
	.services {
		gap: 20px;
	}
	.services__item {
		max-width: 260px;
	}
	.services__item-title {
		font-size: 22px;
		line-height: 22px;
	}
	.services__item-subtitle {
		font-size: 14px;
		line-height: 14px;
	}
	.services__item-box {
		max-width: 180px;
	}
	.social__list {
		margin: 0 auto;
	}
	.menu__list-item + .menu__list-item {
		margin-top: 18px;
	}
	.single__banner-text {
		font-size: 14px;
	}
	.single__banner-subtitle {
		font-size: 17px;
		line-height: 17px;
		min-height: 0px;
	}
	.single__banner-inner {
		flex-direction: column;
	}
	.single__banner-title {
		margin: 0;
	}
	.single__banner-col {
		margin-top: 15px;
		max-width: 340px;
	}
	.single__banner {
		background-image: url('../images/single-banner-bg-mobile.png');
	}
	.single__accordion-title {
		font-size: 23px;
		line-height: 25px;
		margin: 16px 0 10px;
	}
	.title {
		font-size: 38px;
		line-height: 38px;
	}
	.subtitle {
		font-size: 21px;
		line-height: 22px;
	}
	.popup__inner {
		max-width: auto;
		width: 371px;
		padding: 25px 25px 25px;
	}
	.popup__title{
		font-size: 36px;
	}
	.popup__price{
		font-size: 33px;
		line-height: 35px;
	}
	.popup__retail-price{
		font-size: 18px;
		margin-right: 7px;
	}
	.popup-submit {
		padding: 12px 37px;
		font-size: 17px;
	}
}
@media (max-width: 800px) {
	.tabs__orders-row {
		max-width: 600px;
	}
	.tabs__list-item-balance,
	.tabs__list-item-bonus {
		display: block;
	}
	.menu__balance,
	.menu__bonus {
		display: none;
	}
	.account__tabs-bar {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transform: translateY(-120%);
	}
	.account__tabs-bar.visible {
		transform: translateY(0%);
	}
	.tabs__content {
		margin-left: 0;
	}
	.account__title {
		margin-bottom: 30px;
	}
}
@media (max-width: 700px) {
	.footer__bottom-inner{
		flex-direction: column;
	}
	.footer__payment{
		margin-top: 15px;
	}
	.footer__copyright{
		font-size: 13px;
	}
	.footer__col{
		max-width: 250px;
		font-size: 13px;
	}
	.footer__col-3,
	.footer__col-5{
		max-width: 120px;
	}
	.footer__col-4{
		max-width: 140px;
	}
	.footer__logo img{
		width: 140px;
	}
	.header__menu {
		font-size: 15px;
	}
	.header__menu {
		font-size: 14px;
	}
	.tabs__orders-row {
		max-width: 450px;
	}
}
@media (max-width: 600px) {
	.catalog__select-option{
		display: flex;
		align-items: center;
		padding: 13px 16px;
	}
	.catalog__box-fill.visible{
		display: none;
	}
	.catalog__box-fill{
		display: none;
	}
	.catalog__container{
		margin-bottom: 0;
	}
	.catalog__box-top{
		display: none;
	}
	.catalog__select{
		display: block;
	}
	.single__package-account{
		display: none;
	}
	.single__package-account-mobile{
		display: block;
		margin: 5px 0 10px;
	}
	.account__header-bar{
		top: 60px;
		right: 15px;
	}
	.footer__col-1{
		max-width: 100%;
	}
	.single__breadcrumb-mobile{
		margin-top: 85px;
	}
	.services{
		gap: 0;
	}
	.services__item + .services__item{
		margin-top: 20px;
	}
	.burger .menu__lang{
		justify-content: flex-end;
		margin-bottom: 15px;
		font-size: 13px;
	}
	.menu__lang img {
		width: 17px;
	}
	.tabs__orders-repeat img {
		width: 14px;
	}
	.tabs__orders-repeat {
		font-size: 16px;
		line-height: 18px;
		padding: 10px 28px 10px 13px;
		margin-left: 10px;
	}
	.current {
		width: 30px;
		height: 30px;
		font-size: 20px;
	}
    .tabs__orders-pagination{
        gap: 8px;
    }
	.page-link {
		width: 30px;
		height: 30px;
	}
	.page-link img {
		width: 7px;
	}
	.tabs__support-form {
		width: 100%;
	}
	.tabs__balance {
		width: 100%;
	}
	.tabs__subtitle {
		font-size: 18px;
	}
	.tabs__replenished-subtext {
		font-size: 15px;
		line-height: 32px;
	}
	.account__breadcrumbs {
		margin: 80px 0 25px;
	}
	.account__title {
		margin-bottom: 20px;
	}
	.single__services-title {
		max-width: 300px;
	}
	.single__video-title {
		max-width: 280px;
	}
	.services__item-subtitle {
		font-size: 13px;
		line-height: 13px;
	}
	.single__product .custom-select {
		margin: 8px 0 0px;
	}
	.services {
		justify-content: flex-start;
		flex-direction: column;
	}
	.catalog__item-permalink {
		font-size: 15px;
		padding: 9px 22px;
	}
	.services__item {
		max-width: 320px;
	}
	.search {
		margin: 32px 0 34px;
	}
	.home__box {
		text-align: left;
	}
	.home__title {
		max-width: 240px;
	}
	.title {
		font-size: 36px;
		line-height: 36px;
	}
	.single__about-title {
		font-size: 30px;
		line-height: 30px;
	}
	.search img {
		width: 18px;
	}
	.subtitle {
		display: block;
		max-width: 210px;
		font-size: 16px;
		line-height: 19px;
	}
	.mobile-logo {
		width: 180px;
	}
	.plyr__volume input[type='range'] {
		max-width: 40px;
	}
	.plyr--video .plyr__controls {
		height: 45px;
	}
	.plyr__progress input[type='range']::-webkit-slider-thumb,
	.plyr__volume input[type='range']::-webkit-slider-thumb {
		height: 10px;
		width: 10px;
		top: 1px;
	}
	.plyr__control {
		padding: 3px;
	}
	.single__accordion-info {
		margin-left: 30px;
	}
	.single__accordion-subtitle {
		font-size: 15px;
		line-height: 16px;
		margin-bottom: 5px;
	}
	.single__accordion-li {
		gap: 15px;
	}
	.single__accordion-title {
		font-size: 18px;
		line-height: 20px;
		margin: 12px 0 10px;
	}
	.single__accordion {
		margin: 32px 0 34px;
	}
	.single__banner-col {
		margin-top: 15px;
		max-width: 80%;
	}
	.home__container {
		margin: 90px auto 0;
	}
	.general-header,.account-header{
		display: none;
	}
	.mobile-header {
		display: block;
	}
	.home {
		padding-bottom: 115px;
	}
	.social-footer {
		display: none;
	}
	.mobile-footer {
		display: block;
	}
	.catalog__item {
		max-width: 140px;
	}
	.catalog__item-title {
		font-size: 16px;
	}
	.catalog__item-info {
		font-size: 13px;
	}
	.single__btn-dark {
		font-size: 14px;
		line-height: 20px;
	}
	.catalog__filter-title {
		font-size: 14px;
		line-height: 15px;
	}
	.catalog__filter-item {
		max-width: 140px;
		font-size: 14px;
	}
	.catalog__filter-prev,
	.catalog__filter-next {
		width: 12px;
		top: 6px;
	}
	.single__title-mobile {
		margin-bottom: 15px;
	}
	.single__related {
		display: none;
	}
	.single__review-general {
		display: none;
	}
	.single__review-mobile {
		order: 4;
		display: block;
	}
	.single__review-item {
		text-align: center;
	}
	.single__review-icon {
		margin-right: 5px;
	}
	.single__review-icon img {
		width: 15px;
	}
	.single__product-favorite {
		right: 10px;
		bottom: 4px;
	}
	.single__product-favorite img {
		width: 18px;
	}
	.single__fill {
		flex-direction: column;
		margin-bottom: 0;
	}
	.single__summary {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}
	.single__class {
		order: 0;
	}
	.single__price-box {
		order: 1;
	}
	.single__class-list {
		order: 2;
	}
	.single__rating {
		order: 3;
	}
	.single__product-thumbnail {
		width: 320px;
		height: 320px;
		margin-bottom: 0;
	}
	.single__price-box {
		justify-content: flex-start;
		margin: 10px 0;
	}
	.single__class {
		margin: 10px 0 0;
	}
	.single__class-list {
		margin-bottom: 0;
	}
	.single__rating {
		justify-content: center;
	}
	.single__title-general {
		display: none;
	}
	.single__right {
		max-width: 320px;
		margin-bottom: 0px;
	}
	.single__left {
		max-width: 320px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.single__more {
		text-align: center;
		width: 100%;
	}
	.single__more-link {
		margin-bottom: 0;
	}
	.single__buy {
		text-align: center;
		width: 100%;
		margin: 12px 0;
		order: 0;
	}
	.single__rating {
		margin: 14px 0 5px;
	}
	.single__package {
		order: 1;
		margin-bottom: 0;
	}
	.single__more {
		order: 2;
	}
	.error__subtitle{
		max-width: 300px;
		margin: 20px auto;
	}
	.error__social .social__item-link img{
		width: 20px;
	}
}
@media (max-width: 550px) {
	.home__container {
		margin: 85px auto 0;
	}
}
@media (max-width: 500px) {
	.footer__col{
		max-width: 100%;
	}
	.footer__recent-item:last-child .footer__recent-info{
		padding-bottom: 0;
	}
	.single__calculator-title{
		font-size: 30px;
		line-height: 30px;
	}
	.single__calculator-col{
		max-width: 300px;
	}
	.single__calculator-item{
		max-width: 300px;
	}
	.single__calculator-input{
		width: 200px;
	}
	.tabs__orders-row {
		max-width: 340px;
	}
	.single__accordion-title {
		font-size: 14px;
		line-height: 18px;
		margin: 9px 0 10px;
		padding-right: 20px;
	}
	.single__accordion-title span {
		width: 8px;
	}
	.single__accordion-title span:first-child {
		right: 5px;
	}
	.dropdown {
		font-size: 16px;
		line-height: 16px;
		padding-right: 21px;
	}
	.mobile-footer__item {
		height: 42px;
	}
	.home {
		padding-bottom: 80px;
	}
	.mobile-footer__item img {
		max-height: 24px;
	}
	.mobile-footer__text {
		font-size: 13px;
		max-width: 57px;
	}
	.mobile-footer {
		padding: 10px 0px 6px;
	}
	.home__container {
		margin: 72px 0 0;
	}
	.menu__list-item + .menu__list-item {
		margin-top: 13px;
	}
	.menu__sub-list.open .menu__sub-item {
		margin: 6px 0;
	}
	.menu__sub-link {
		font-size: 13px;
	}
}
@media (max-width: 450px) {
	.services__item {
		border-radius: var(--borderRadius);
		padding: 10px 18px 10px;
	}
	.services__item-title{
		margin-bottom: 2px;
	}
	.search {
		margin: 15px 0 15px;
		padding: 8px 29px 9px 18px;
		font-size: 14px;
	}
	.search img {
		width: 16px;
	}
	.menu__burger span {
		width: 21px;
	}
	.menu__burger span + span {
		margin-top: 5px;
	}
	.burger {
		max-width: 100%;
		width: 100%;
		transform: translate(100%, 46px);
	}
	.burger.active {
		transform: translate(0%, 46px);
	}
	.burger-menu {
		height: calc(100% - 100px);
	}
	.menu__list::-webkit-scrollbar {
		width: 2px;
		border-radius: 2px;
	}
	.menu__list::-webkit-scrollbar-thumb {
		border-radius: 2px;
	}
}
@media (max-width: 400px) {
	.account__mobile-menu .menu__favorite{
		display: none;
	}
	.footer__inner{
		align-items: flex-start;
		padding: 30px 0px 25px;
	}
	.single__calculator-title {
		word-wrap: anywhere;
	}
	.single__calculator-inner{
		padding: 25px 15px 25px 15px;
	}
	.services__item-title{
		font-size: 20px;
		line-height: 20px;
	}
	.services{
		gap: 0;
	}
	.services__item + .services__item{
		margin-top: 11px;
	}
	.title{
		font-size: 30px;
		line-height: 30px;
	}
	.tabs__orders-row {
		max-width: 280px;
	}
	.tabs__orders-td {
		font-size: 13px;
		padding: 40px 18px 15px;
	}
	.tabs-textarea {
		min-height: 140px;
	}
	.tabs__account-btn,
	.tabs__balance-btn,
	.tabs__support-btn,
	.tabs_-replenished-btn {
		margin-top: 15px;
	}
	.arrow-up {
		width: 35px;
		height: 35px;
		bottom: 10px;
		right: 10px;
	}
	.arrow-up img {
		width: 13px;
	}
	.single__services-title {
		font-size: 30px;
		line-height: 30px;
		max-width: 240px;
		margin-bottom: 10px;
	}
	.single__about-text li {
		font-size: 13px;
	}
	.single__video-inner {
		padding-top: 20px;
	}
	.single__accordion-phone {
		display: block;
		margin: 40px 0;
	}
	.single__banner-subtitle {
		max-width: 250px;
	}
	.single__about-right {
		width: 100%;
	}
	.single__accordion-image {
		height: 25px;
	}
	.single__accordion-subtitle {
		font-size: 13px;
		line-height: 14px;
	}
	.single__accordion-list {
		padding: 15px 0 10px;
	}
	.single__accordion-info {
		margin-left: 15px;
	}
	.single__accordion-text {
		font-size: 12px;
	}
	.single__product {
		margin: 0 0 25px;
	}
	.single__breadcrumb-mobile {
		font-size: 14px;
	}
	.single__breadcrumb img {
		width: 14px;
	}
	.home__container {
		max-width: 320px;
	}
	.container {
		padding: 0 27px;
	}
	.mobile-footer__item img {
		max-width: 19px;
		max-height: 21px;
	}
	.catalog__item {
		max-width: 125px;
	}
	.catalog__item-favorite {
		right: 6px;
		bottom: 3px;
	}
	.catalog__filter-swiper {
		padding: 0 20px;
	}
	.catalog__filter-image {
		width: 16px;
	}
	.catalog__item-info {
		font-size: 12px;
	}
	.catalog__item-title {
		font-size: 15px;
		margin: 7px 0 4px;
	}
	.catalog__filter-text {
		font-size: 14px;
		margin-bottom: 20px;
	}
	.catalog__container {
		margin-bottom: 25px;
	}
	.catalog__breadcrumbs {
		font-size: 12px;
		margin: 80px 0 25px;
	}
	.single__product-thumbnail {
		aspect-ratio: 1 / 1;
		width: 100%;
		height: 100%;
	}
	.single__title-mobile {
		font-size: 29px;
		line-height: 29px;
		max-width: 100%;
	}
	.single__price {
		font-size: 24px;
		line-height: 25px;
	}
	.single__retail-price {
		font-size: 18px;
		line-height: 22px;
	}
	.single__buy {
		font-size: 15px;
		padding: 7px 40px;
	}
	.single__banner-col {
		max-width: 100%;
	}
	.single__about-title {
		font-size: 25px;
		line-height: 25px;
	}
	.single__banner-title {
		max-width: 300px;
		font-size: 30px;
	}
	.single__video-title {
		font-size: 30px;
	}
	.popup__title{
		font-size: 30px;
	}
	.popup{
		width: 95%;
	}
	.popup__inner{
		max-width: 100%;
		width: 100%;
		padding: 30px 16px 30px;
	}
	.popup__input, .popup__select-payment, .popup__select-gender, .popup__list-option{
		font-size: 13px;
	}
	.popup__bottom{
		font-size: 13px;
	}
}
