/* Home Start */
.home__container {
    max-width: 1000px;
    width: 100%;
    margin: 180px auto 0;
}
.home__box {
    text-align: center;
    max-width: 710px;
    margin: 0 auto;
    width: 100%;
}
.search {
    margin: 40px 0 40px;
    padding: 12px 29px 13px 18px;
    border: 1px solid #565656;
    border-radius: 6px;
}
.search__input {
    width: calc(100% - 25px);
    color: #565656;
}
/* Home End */
/* Catalog Start */
.catalog__container{
    max-width: 1000px;
    width: 100%;
    margin-bottom: 50px;
}
.catalog__box-top{
    margin: 50px 0 60px;
}
.catalog__filter-swiper{
    padding: 0 26px;
}
.catalog__filter{
    position: relative;
}
.catalog__filter-prev,
.catalog__filter-next{
    width: 26px;
    position: absolute;
    top: 4px;
    z-index: 2;
}
.catalog__filter-prev{
    left: 0;
}
.catalog__filter-next{
    right: 0;
}
.catalog__filter-text{
    margin-bottom: 30px;
    color: #888888;
}
.catalog__filter-item{
    max-width: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #313131;
    border-radius: var(--borderRadius);
    height: 32px;
    transition: background .3s, color .3s;
}
.catalog__filter-item:hover{
    background: #E9E9E9;
    color: #252525;
}
.catalog__filter-image{
    margin-right: 8px;
}
.catalog__filter-title{
    font-size: 16px;
    line-height: 19px;
}
.catalog__item{
    max-width: 185px;
    width: 100%;
}
.catalog__item-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #313131;
    border-radius: var(--borderRadius);
}
.catalog__item-image img{
    max-width: 100%;
    max-height: 100%;
}
.catalog__item-favorite{
    position: absolute;
    right: 12px;
    bottom: 11px;
}
.catalog__item-title{
    margin: 16px 0 4px;
    font-family: var(--roadRadioBold);
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}
.catalog__item-info{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}
.catalog__item-permalink{
    padding: 16px 26px;
}
/* Catalog End */
/* Single Start */
.single__product{
    margin: 80px 0 145px;
    display: flex;
    justify-content: space-between;
}
/* Single Left Start */
.single__left{
    max-width: 510px;
}
.single__title{
    margin-bottom: 26px;
}
.single__package{
    margin-bottom: 52px;
}
.single__package-title{
    display: inline-block;
    font-size: 30px;
    line-height: 37px;
    font-weight: 600;
    margin-bottom: 11px;
}
.single__breadcrumb{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}
.single__breadcrumb img{
    margin-right: 8px;
}
.single__info{
    margin: 29px 0 68px;
}
.single__info-item a{
    border-bottom: 1px solid #C9C9C9;
}
.single__package-cat{
    display: block;
}
.single__more-link{
    position: relative;
    font-family: var(--roadRadioBold);
    color: #fff;
    padding-right: 37px;
    margin-top: 49px;
}
.single__more-link span{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 12px;
    height: 3px;
    background: #fff;
    transition: transform .3s;
}
.single__more-link span:first-child{
    right: 7px;
    transform: rotate(45deg);
    
}
.single__more-link span:last-child{
    transform: rotate(315deg);
    right: 0;
}
/* Single Left End */
/* Single Right Start */
.single__right{
    max-width: 800px;
    width: 100%;
}
.single__fill{
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}
.single__product-thumbnail{
    position: relative;
    background: #313131;
    border-radius: var(--borderRadius);
    width: 404px;
    height: 404px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 39px;
}
.single__product-image{
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}
.single__product-favorite{
    position: absolute;
    right: 31px;
    bottom: 23px;
}
.single__summary{
    max-width: 315px;
    width: 100%;
}
.single__price-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.single__retail{
    display: flex;
    justify-content: space-between;
}
.single__retail-price{
    margin-right: 16px;
    font-family: var(--roadRadioBold);
    font-size: 31px;
    line-height: 31px;
    text-decoration-line: line-through;
    color: #949393;
}
.single__retail-sale{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF1616;
    border-radius: var(--borderRadius);
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    width: 107px;
}
.single__price{
    font-family: var(--roadRadioBold);
    font-size: 55px;
    line-height: 55px;
    color: #fff;
}
.single__class{
    margin: 17px 0;
    outline: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid #565656;
    border-radius: 6px;
    padding: 16px 42px 16px 24px;
}
.single__class-list{
    margin-bottom: 50px;
}
.single__class-item{
    font-size: 14px;
    line-height: 18px;
}
.single__additional{
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
}
.single__additional-icon{
    margin-right: 8px;
}
.single__related-title{
    font-family: var(--roadRadioBold);
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 36px;
}
.single__related-list{
    display: flex;
    justify-content: space-between;
}
.single__related-item{
    max-width: 185px;
}
.single__related-thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #313131;
    border-radius: var(--borderRadius);
}
.single__related-favorite{
    position: absolute;
    bottom: 15px;
    right: 16px;
}
.single__related-name{
    font-family: var(--roadRadioBold);
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    margin: 16px 0 4px;
}
.single__related-info{
    font-size: 16px;
    line-height: 19px;
}
/* Single Right End */
/* Single Banner Start */
.single__banner{
    position: relative;
    background-image: url('../images/single-banner-bg.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.single__banner-phone{
    position: absolute;
    right: 0px;
    top: -50px;
}
.single__banner-overlay{
    background: rgba(33, 33, 33, .7);
}
.single__banner-title{
    width: 100%;
    margin-bottom: 69px;
}
.single__banner-subtitle{
    font-family: var(--roadRadioBold);
    font-size: 25px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 30px;
    min-height: 50px;
}
.single__banner-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    padding: 92px 0 71px;
}
.single__banner-col{
    max-width: 46%;
    width: 100%;
}
/* Single Banner End */
/* Single Accordion Start */
.single__accordion{
    margin: 125px 0 136px;
}
.single__accordion-title{
    position: relative;
    margin: 36px 0 24px;
    padding-right: 50px;
    font-family: var(--roadRadioBold);
    font-size: 55px;
    line-height: 55px;
    color: #fff;
}
.single__accordion-title span{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 15px;
    height: 4px;
    background: #fff;
    transition: transform .3s;
}
.single__accordion-title span:first-child{
    right: 9px;
    transform: rotate(45deg);
}
.single__accordion-title span:last-child{
    right: 0px;
    transform: rotate(315deg);
}
.single__accordion-title.active span:first-child{
    transform: rotate(315deg);
}
.single__accordion-title.active span:last-child{
    transform: rotate(45deg);
}
.single__accordion-line{
    background: #565656;
    height: 1px;
    width: 100%;
}
.single__accordion-list{
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
    max-width: 1200px;
    width: 100%;
    padding: 62px 0 55px;
}
.single__accordion-list.active{
    display: flex;
}
.single__accordion-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 545px;
    width: 100%;
}
.single__accordion-info{
    max-width: 440px;
    width: 100%;
}
.single__accordion-subtitle{
    font-family: var(--roadRadioBold);
    font-size: 25px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 20px;
}
/* Single Accordion End */
/* Single About Start */
.single__about{
    background: #313131;
}
.single__about-inner{
    padding: 140px 0 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.single__about-left{
    max-width: 630px;
    width: 100%;
}
.single__about-right{
    background: #E9E9E9;
    color: #313131;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 92px 67px 72px;
}
.single__about-product{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single__about-btn{
    margin-top: 36px;
}
.single__about-info{
    margin-left: 40px;
}
.single__about-info .single__review-icon img{
    fill: #313131;
}
/* Single About End */
/* Single Video Start */
.single__video{
    margin-bottom: 186px;
}
.single__video-inner{
    padding-top: 40px;
}
.single__video-title{
    margin-bottom: 40px;
}
.single__services{
    margin-bottom: 156px;
}
.single__services-title{
    margin-bottom: 90px;
}
.single__services-container{
    max-width: 1000px;
    width: 100%;
}
/* Single Video End */
/* Single End */