@font-face {
    font-family: "RobotoCondensed-Light";
    src: url("../fonts/RobotoCondensed-Light.woff2");
    font-weight: 300;
}
@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/RobotoCondensed-Regular.woff2");
    font-weight: 400;
}
@font-face {
    font-family: "RobotoCondensed-Medium";
    src: url("../fonts/RobotoCondensed-Medium.woff2");
    font-weight: 500;
}
@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url("../fonts/RobotoCondensed-Bold.woff2");
    font-weight: 700;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font-family: "RobotoCondensed-Regular";
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: inherit;
}
a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}
.main {
    -webkit-transition: -webkit-filter 0.9s;
    transition: -webkit-filter 0.9s;
    -o-transition: filter 0.9s;
    transition: filter 0.9s;
    transition: filter 0.9s, -webkit-filter 0.9s;
}
.title {
    font-family: "RobotoCondensed-Medium";
    font-size: 36px;
    line-height: 42px;
    color: #505050;
}
.btn {
    background: var(--orange);
    border-radius: 10px;
    color: #fff;
}
.container {
    width: 1550px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-title {
    font-family: "RobotoCondensed-Medium";
    font-size: 16px;
    line-height: 19px;
    color: #656565;
}
.header-btn {
    position: relative;
    font-family: "RobotoCondensed-Medium";
    padding: 8px 20px;
    font-size: 20px;
    line-height: 23px;
}

.product-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5px;
    -ms-flex-line-pack: start;
        align-content: flex-start;
}
.product {
    border: 1px solid #1cb5b2;
    border-radius: 5px;
    height: 400px;
    max-width: 300px;
    width: 100%;
    padding: 20px 30px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../images/product-1.png");
    background-size: 170px 185px;
    background-repeat: no-repeat;
    background-position: center top 10px;
}
.product__stock {
    display: block;
    font-family: "RobotoCondensed-Medium";
    position: relative;
    padding-left: 30px;
    margin-bottom: 6px;
    font-size: 15px;
    line-height: 18px;
}
.product__stock::before {
    content: url("../images/stock.png");
    position: absolute;
    left: 0;
    top: -7px;
}
.product__stat {
    background: #38bebc;
    border-radius: 5px;
    padding: 0px 13px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}
.product__text {
    font-family: "RobotoCondensed-Light";
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 7px;
}
.product__price {
    display: inline-block;
    font-family: "RobotoCondensed-Bold";
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 7px;
}
.product__list-item {
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.product__list-item + .product__list-item {
    margin-top: 3px;
}
.product-list {
    margin-bottom: 10px;
}
.product-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.product-cart img{
    width: 25px;
    height: 25px;
}
.product-cart__btn {
    position: relative;
    font-family: "RobotoCondensed-Bold";
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background: #eba143;
    border-radius: 5px;
    line-height: 25px;
    padding: 0 13px 0 36px;
}
.product-cart__btn::before {
    content: url("../images/cart-decor.png");
    position: absolute;
    left: 10px;
    top: 2.5px;
}
.brands-slider__item {
    width: 186px !important;
    height: 107px !important ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ffffff;
    border: 2px solid #1cb5b2;
    border-radius: var(--borderRadius);
}
.brands-slider__item img {
    max-width: 95%;
}
.top-brands__inner,
.info-box__inner {
    position: relative;
    padding: 0 31px;
}
.swiper-prev,
.swiper-next {
    z-index: 999;
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--green);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.swiper-next img {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.swiper-prev {
    bottom: 33px;
    left: -20px;
}
.swiper-next {
    bottom: 33px;
    right: -20px;
}
.footer {
    position: relative;
}
.footer::before {
    content: "";
    background-image: url("../images/decor-6.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 311px;
    height: 340px;
    position: absolute;
    left: 0;
    top: -335px;
}
.footer-inner {
    background: var(--green);
}
.footer-inner__content {
    color: #fff;
    padding: 13px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-bottom {
    background: var(--orange);
}
.footer-contact {
    max-width: 302px;
    margin-right: 86px;
}
.footer-contact__title,
.footer-menu__title {
    position: relative;
    font-family: "RobotoCondensed-Medium";
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    padding-bottom: 5px;
    margin-bottom: 7px;
}
.footer-contact__title::after,
.footer-menu__title::after {
    content: "";
    position: absolute;
    width: 82px;
    height: 3px;
    background: var(--orange);
    bottom: 0;
    left: 0;
}
.footer-contact span {
    display: block;
}
.footer-contact__tel,
.footer-contact__mail {
    margin-bottom: 7px;
}
.footer-contact__tel,
.footer-contact__mail,
.footer-contact__text {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}
.footer-menu__list li {
    font-family: "RobotoCondensed-Medium";
    display: block;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    color: #ffffff;
}
.footer-menu__list li + li {
    margin-top: 8px;
}
.footer-bottom {
    padding: 3px 0;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
}
.burger-menu,
.mobile-menu,
.close-menu {
    display: none;
}
.page-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.page-content .product-box{
    width: 1215px;
}
.page-inner .top-brands{
    margin-bottom: 109px;
}
.filter {
    font-family: 'RobotoCondensed-Light';
    width: 284px;
    margin-right: 21px;
}
.filter-btn {
    position: relative;
    text-align: center;
    line-height: 48px;
    width: 100%;
    border: 1px solid #1cb5b2;
    border-radius: 5px;
    margin-bottom: 22px;
}
.filter-btn img {
    position: absolute;
    left: 27px;
    top: 10px;
}
.filter-title {
    font-family: 'RobotoCondensed-Regular';
    font-size: 24px;
    line-height: 28px;
    color: #505050;
    margin-bottom: 10px;
}
.from-to {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.from-to__item {
    padding: 3px 0;
    width: 124px;
    border: 1px solid var(--green);
    border-radius: 5px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #505050;
}
.from-to__range {
    width: 100%;
    position: relative;
    margin: 20px 0 27px;
}
input[type="range"] {
    right: 0;
    -webkit-appearance: none;
    background: transparent;
    position: absolute;
    left: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    height: 22px;
    border-radius: 5px;
    border: 3px solid var(--orange);
    cursor: -webkit-grab;
    cursor: grab;
    margin-top: -9px;
    position: relative;
    z-index: 1;
}
input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    background: var(--orange);
    border-radius: 3px;
    border: none;
}
input[type="radio"] {
    border-radius: 5px;
    width: 28px;
    height: 28px;
    border: 1px solid var(--green);
    padding: 0.5em;
    -webkit-appearance: none;
    cursor: pointer;
}

input[type="radio"].active {
    background-image: url('../images/square.png');
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
}

input[type="radio"]:focus {
    outline-color: transparent;
}
.filter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 260px;
    height: 100%;
    overflow:auto;
    overflow-x:hidden;
    margin-bottom: 16px;
}
.filter-list::-webkit-scrollbar {
    background: #E4E4E4;
    width: 5px;
    border-radius: 5px;
}
.filter-list::-webkit-scrollbar-track {
    border-radius: 10px;
}

.filter-list::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 5px;
}
.filter-list__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    line-height: 23px;
    color: #505050;
}
.filter-list__item + .filter-list__item{
    margin-top: 5px;
}
.filter-list__item input{
    margin-right: 11px;
}
.reset-filter{
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 48px;
    background: var(--orange);
    width: 100%;
    font-size: 24px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}
.advantages-list{
    margin: 0 auto 120px;
    max-width: 1000px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.advantages-list__item{
    margin: 0 10px;
    font-family: 'RobotoCondensed-Light';
    font-size: 16px;
    line-height: 22px
}
.advantages-list__item img{
    max-width: 111px;
}
.more-product{
    text-align: center;
    margin: 12px auto 0;
    width: 100%;
}
.more-product__btn{
    width: 205px;
    border: 1px solid var(--green);
    border-radius: 5px;
    line-height: 40px;
    font-size: 24px;
    line-height: 28px;
    padding: 6px 0;
    color: #505050;
    margin-bottom: 8px;
}
.more-product__pagination span{
    cursor: default;
}
.more-product__pagination span, .more-product__pagination a{
    display: inline-block;
    font-size: 16px;
    color: #505050;
    border: 1px solid #1CB5B2;
    border-radius: 2px; 
    width: 20px;
    line-height: 20px;
    margin: 0 3px;
}
.filter-accordion__btn{
    display: none;
}
.filter-item{
    display: none;
}
.filter-item.active{
    display: block;
}