body{
    font-family: var(--qanelasRegular);
    font-size: 18px;
    line-height: 21px;
    color: var(--gray);
    background: #252525;
}
.title{
    font-family: var(--roadRadioBold);
    font-size: 55px;
    line-height: 55px;
    color: #fff;
    margin-bottom: 25px;
}
.subtitle{
    font-size: 30px;
    line-height: 36px;
}
.container{
    max-width: 1650px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}