@media(max-width: 1500px){
    .home__container{
        margin: 130px auto 0;
    }
}
@media(max-width: 1200px){
}
@media(max-width: 1000px){
    .home__container {
        margin: 90px auto 0;
    }
    .home__box {
        max-width: 550px;
    }
}
@media(max-width: 980px){

}
@media(max-width: 850px){
    .home__container {
        margin: 70px auto 0;
    }
}
@media(max-width: 550px){
    .home__container {
        margin: 45px auto 0;
    }
}
@media(max-width: 450px){
    /* .home__title,
    .home__subtitle{
        display: block;
        text-align: left;
        max-width: 240px;
        width: 100%;
    } */
}
@media(max-width: 400px){
    .home__container {
        margin: 32px auto 0;
    }
}