@media(max-width: 1800px){
	.section-title {
		font-family: var(--RobotoBold);
		font-size: 30px;
	}
}
@media(max-width: 1700px){
	.home__advantages-slide-inner{
		min-height: 450px;
	}
	.tariff-items{
		column-gap: 20px;
	}
	.tariff-item{
		max-width: calc(25% - 15px);
	}
}
@media(max-width: 1600px){
	body{
		font-size: 18px;
	}
	.home__advantages-slide-title,
	.home__advantages-item-name,
	.home__news-item-name{
		font-size: 19px;
	}
	.home__fast-name,
	.home__faq-top,
	.footer__contact-title,
	.home__how-large-name,
	.home__how-item-name,
	.tariff__title{
		font-size: 22px;
	}
	.home__news-item-btn{
		font-size: 16px;
	}
	.section-title {
		font-family: var(--RobotoBold);
		font-size: 28px;
	}
	.home__faq-arrow {
		min-width: 33px;
		min-height: 33px;
	}
	.home__news-more {
		padding: 11px 140px;
	}
	.footer__col + .footer__col {
		margin-left: 80px;
	}
	.footer__logo img{
		width: 140px;
	}
	.home__how-fill > img{
		width: 100%;
	}
	.home__how-large{
		padding: 25px 15px 24px 23px;
	}
	.home__how-item {
		padding: 25px 15px 8px 20px;
	}
	.home__how-large-text{
		margin-bottom: 20px;
	}
}
@media(max-width: 1550px){
	.home__news-item-info{
		max-width: 280px;
	}
	.home__advantages-item-info {
		max-width: 180px;
	}
	.home__advantages-item-inner img,
	.home__advantages-item{
		max-height: 180px;
	}
	.home__how-subtitle {
		margin-bottom: 35px;
	}
}
@media(max-width: 1450px){
	body{
		font-size: 16px;
	}
	.tariff__option {
		font-size: 14px;
	}
	.tariff__price {
		font-size: 23px;
	}
	.tariff__btn {
		padding: 9px 46px;
		font-size: 15px;
	}
	.home__advantages-slide-title,
	.home__advantages-item-name,
	.home__news-item-name{
		font-size: 18px;
	}
	.home__advantages-slide-text,
	.home__advantages-item-text,
	.home__how-large-text {
		font-size: 16px;
	}
	.home__fast-name,
	.home__faq-top,
	.footer__contact-title,
	.home__how-large-name,
	.home__how-item-name,
	.tariff__title {
		font-size: 20px;
	}
	.home__fast-image{
		max-height: 50px;
	}
	.home__fast-item {
		max-width: 32.2%;
		padding: 20px 20px 30px 20px;
	}
	.section-title {
		font-family: var(--RobotoBold);
		font-size: 26px;
	}
	.home__fast-title,
	.home__advantages-title,
	.home__faq-title {
		margin-bottom: 27px;
	}
	.home__advantages-slide-inner {
		min-height: 400px;
	}
	.home__advantages-items {
		margin-top: 70px;
	}
	.home__faq-arrow {
		min-width: 28px;
		min-height: 28px;
	}
	.home__faq-arrow img {
		max-width: 50%;
	}
	.home__faq-top {
		padding: 20px 20px 20px 25px;
	}
	.footer__cols{
		max-width: 70%;
		width: 100%;
	}
	.footer__contact{
		max-width: 30%;
		width: 100%;
	}
	.footer__fill{
		row-gap: 30px;
		flex-wrap: wrap;
	}
	.home__tariff {
		margin: 60px 0 40px;
	}
}
@media(max-width: 1300px){
	.tariff-item {
		max-width: calc(33.3333% - 20px);
	}
	.tariff__bottom {
		padding: 10px 0 9px;
	}
	.tariff__info {
		padding: 0 15px 15px;
	}
	.tariff-items{
		row-gap: 20px;
	}
	.tariff-item {
		max-width: calc(33.3333% - 14px);
	}
}
@media(max-width: 1250px){
	body{
		font-size: 16px;
	}
	.tariff-select-filter .select__button {
		padding: 3px 28px 4px 17px;
	}
	.tariff-filters{
		font-size: 15px;
		margin: 15px 0 25px;
	}
	.tariff-filter .select__button,
	.tariff-filter .select__list-option{
		font-size: 15px;
	}
	.home__how-subtitle {
		margin-bottom: 30px;
	}
	.home__advantages-slide-text,
	.home__advantages-item-text,
	.home__news-item-text,
	.home__how-large-text {
		font-size: 15px;
	}
	.home__advantages-item-name{
		margin-bottom: 12px;
	}
	.home__fast-name,
	.home__advantages-slide-title,
	.home__advantages-item-name,
	.home__news-item-name,
	.home__faq-top,
	.footer__contact-title,
	.home__how-large-name,
	.home__how-item-name,
	.tariff__title {
		font-size: 18px;
	}
	.home__how-large-name {
		margin-bottom: 15px;
	}
	.home__how-large {
		padding: 25px 15px 25px 23px;
	}
	.home__how-item {
		padding: 20px 15px 8px 20px;
	}
	.home__fast-image {
		max-height: 40px;
	}
	.home__fast,
	.home__advantages {
		margin-bottom: 40px;
	}
	.home__tariff {
		margin: 50px 0 40px;
	}
	.section-title {
		font-family: var(--RobotoBold);
		font-size: 24px;
	}
	.container{
		padding: 0 30px;
	}
	.home__advantages-slide-inner {
		min-height: 360px;
	}
	.home__advantages-pagination {
		bottom: -30px !important;
	}
	.home__advantages-prev,
	.home__news-prev{
		left: -20px;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-right: 10px solid var(--MainGray);
	}
	.home__advantages-next,
	.home__news-next{
		right: -20px;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 10px solid var(--MainGray);
	}
	.home__advantages-items {
		margin-top: 55px;
	}
	.footer__logo img{
		width: 130px;
	}
	.home__how-fill{
		gap: 25px;
	}
	.home__advantages-item-info {
		max-width: 180px;
	}
}
@media(max-width: 1100px){
	.footer__cols{
		display: flex;
		justify-content: space-between;
		max-width: 100%;
		order: 3;
		gap: 60px;
	}
	.footer__col{
		justify-content: space-between;
	}
	.footer__contact{
		order: 1;
	}
	.footer__logo{
		order: 2;
	}
	.footer__col + .footer__col{
		margin: 0;
	}
	.footer__contact{
		max-width: 400px;
	}
	.home__advantages-items{
		flex-wrap: wrap;
		gap: 20px;
	}
	.home__advantages-item{
		max-width: calc(50% - 10px);
	}
}
@media(max-width: 1000px){
	.home__fast-item {
		max-width: 500px;
	}
	.home__fast-title,
	.home__advantages-title,
	.home__faq-title {
		margin-bottom: 25px;
	}
	.tariff__preview {
		height: 150px;
	}
	.section-title {
		font-family: var(--RobotoBold);
		font-size: 25px;
	}
	.container{
		padding: 0 25px;
	}
	.home__advantages-slide-inner {
		padding: 17px 17px 17px 18px;
	}
	.swiper-pagination-bullet {
		width: 20px;
		height: 4px;
	}
	.swiper-pagination-bullet-active {
		width: 40px;
	}
	.home__advantages-pagination {
		bottom: -25px !important;
	}
	.home__advantages-items {
		margin-top: 45px;
	}
	.home__news-item-btn {
		font-size: 13px;
	}
	.home__news-item-views img {
		width: 16px;
	}
	.home__news-item-views {
		font-size: 8px;
		width: 40px;
		height: 40px;
	}
	.home__news-item-fill {
		padding: 13px 19px 19px 19px;
	}
	.home__news-more {
		padding: 11px 100px;
	}
	.home__how-fill > img {
		display: none;
	}
}
@media(max-width: 900px){
	.tariff-item {
		max-width: calc(50% - 10px);
	}
}
@media(max-width: 800px){
	.home__advantages-slide-inner {
		min-height: 390px;
	}
	.footer__col-item + .footer__col-item,
	.footer__additional-item + .footer__additional-item {
		margin-top: 15px;
	}
	.footer__cols{
		flex-wrap: wrap;
	}
	.home__advantages-items{
		gap: 10px;
	}
	.home__advantages-item{
		max-width: calc(50% - 5px);
	}
}
@media(max-width: 700px){
	body{
		font-size: 15px;
	}
	.tariff-select-filter .select__button {
		padding: 3px 28px 3px 17px;
	}
	.tariff-filters{
		font-size: 14px;
		margin: 15px 0 20px;
	}
	.tariff-filter .select__button,
	.tariff-filter .select__list-option{
		font-size: 14px;
	}
	.tariff-filter .select__list-option {
		padding: 8px 15px;
	}
	.tariff-filter .select__arrow {
		border-width: 0 4px 6px 4px;
	}
	.tariff__price {
		font-size: 21px;
	}
	.tariff__btn {
		padding: 9px 40px;
		font-size: 13px;
	}
	.home__fast-name,
	.home__faq-top {
		font-size: 16px;
	}
	.home__advantages-slide-text,
	.home__advantages-item-text,
	.home__news-item-text,
	.home__how-large-text {
		font-size: 14px;
	}
	.tariff-items {
		column-gap: 10px;
		row-gap: 10px;
	}
	.tariff-item {
		max-width: calc(50% - 5px);
	}
	.home__advantages-slide-title,
	.home__advantages-item-name,
	.home__news-item-name {
		font-size: 16px;
		margin-bottom: 8px;
	}
	.footer__additional-list{
		margin: 0;
	}
	.footer__col-link {
		font-size: 15px;
	}
	.footer__cols{
		gap: 40px;
	}
	.footer__contact-tel{
		font-size: 15px;
	}
	.home__advantages-item{
		height: auto;
		max-height: 100%;
	}
	.home__advantages-item-inner img{
		max-height: 100px;
	}
	.home__advantages-item-inner{
		align-items: flex-start;
		padding: 15px;
		flex-direction: column;
	}
	.home__advantages-item-info{
		max-width: 100%;
	}
}
@media(max-width: 600px){
	.container {
		padding: 0 15px;
	}
	.home__how-subtitle{
		margin-bottom: 20px;
	}
	.home__advantages-item{
		max-width: 100%;
	}
	.tariff-item{
		max-width: 320px;
	}
	.tariff-box .btn-box{
		text-align: left;
	}
	.tariff-more {
		padding: 12px 90px;
	}
	.home__advantages-item-inner img{
		max-height: 120px;
	}
	.home__advantages-item-thumbnail{
		max-width: 30%;
	}
	.home__advantages-item-info {
		max-width: 70%;
	}
	.home__advantages-item{
		min-height: 150px;
	}
	.home__advantages-item-inner{
		flex-direction: row;
		align-items: center;
		padding: 20px;
	}
	.section-title {
		font-family: var(--RobotoBold);
		font-size: 22px;
	}
	.home__advantages-slide-inner {
		min-height: 320px;
	}
	.home__advantages-prev,
	.home__news-prev{
		left: -13px;
	}
	.home__advantages-next,
	.home__news-next {
		right: -13px;
	}
	.home__news-item-info {
		margin-bottom: 20px;
	}
	.footer__contact{
		max-width: 300px;
	}
	.footer__copy{
		font-size: 14px;
	}
	.home__how-item{
		max-width: 100%;
	}
	.home__how-item-first{
		display: flex;
		align-items: center;
		gap: 30px;
	}
	.home__how-item-first img{
		width: 100%;
	}
	.home__how-item-second .home__how-item-name {
		margin-bottom: 8px;
	}
	.home__how-large {
		padding: 25px 15px 25px 20px;
	}
	.home__how-item-large,
	.home__how-item{
		min-height: 160px;
	}
	.home__how-item-name,
	.home__how-large-name{
		font-size: 16px;
	}
	.home__how-large-btn {
		padding: 7px 20px;
		font-size: 13px;
	}
	.home__how-item-text {
		font-size: 13px;
	}
}
@media(max-width: 500px){
	body{
		font-size: 14px;
	}
	.footer__cols{
		gap: 30px;
	}
	.tariff-filters{
		flex-direction: column;
		gap: 15px;
	}
	.tariff-select-filter .select__button {
		padding: 3px 11px 3px 17px;
	}
	.tariff-filter + .tariff-filter{
		margin-left: 0;
	}
	.home__fast,
	.home__faq,
	.home__news,
	.home__advantages {
		margin-bottom: 30px;
	}
	.home__tariff {
		margin: 40px 0 30px;
	}
	.home__fast-item{
		padding: 17px;
	}
	.home__fast-image {
		max-height: 37px;
	}
	.section-title {
		font-family: var(--RobotoBold);
		font-size: 19px;
	}
	.home__fast-title,
	.home__advantages-title,
	.home__faq-title {
		margin-bottom: 20px;
	}
	.home__fast-info{
		max-width: 300px;
	}
	.home__faq-top{
		font-size: 15px;
		gap: 40px;
	}
	.home__faq-arrow {
		min-width: 22px;
		min-height: 22px;
	}
	.home__faq-arrow img {
		max-width: 57%;
	}
	.home__news-item-info {
		margin-bottom: 15px;
	}
	.home__news-more {
		padding: 10px 80px;
	}
	.footer__copy{
		font-size: 13px;
	}
	.footer__col-link {
		font-size: 14px;
	}
	.footer__fill{
		flex-direction: column;
	}
	.footer__contact{
		order: 2;
	}
	.footer__logo{
		order: 1;
	}
}
@media(max-width: 400px){
	.home__fast-name {
		font-size: 15px;
		margin-bottom: 5px;
	}
	.footer__contact-title{
		font-size: 18px;
	}
	.home__fast-title,
	.home__advantages-title,
	.home__faq-title {
		margin-bottom: 15px;
	}
	.section-title {
		font-family: var(--RobotoBold);
		font-size: 18px;
	}
	body{
		font-size: 13px;
	}
	.home__how-item-first{
		flex-direction: column;
		align-items: flex-start;
	}
	.home__how-item-first img {
		width: auto;
	}
	.home__how-item-info{
		max-width: 100%;
	}
	.home__how-item-first{
		gap: 10px;
	}
}