:root{
	/* Fonts */
	--RobotoLight: 'Roboto-Light';
	--RobotoRegular: 'Roboto-Regular';
	--RobotoMedium: 'Roboto-Medium';
	--RobotoBold: 'Roboto-Bold';
	--BebasRegular: 'Bebas Neue';

	/* Colors */
	--Green: #2EE89A;
	--Red: #E82E2E;
	--MainGray: #343434;
	--SecondGray: #595959;
	--LightGray: #F4F4F4;
	--DarkGray: #D9D9D9;
}