a{
	color: inherit;
}
.main{
	max-width: 1920px;
	margin: 0 auto;
}
.container{
	max-width: 1760px;
	padding: 0 15px;
	margin: 0 auto;
}
.title{
	font-family: var(--ar);
	font-weight: 700;
	background: linear-gradient(to right, #6629EF, #BD01FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-size: 34px;
	margin-bottom: 55px;
}
.radius{
	border-radius: 9px;
}
.btn-box{
	text-align: right;
}
.btn{
	display: inline-block;
	color: #fff;
	font-family: var(--ar);
	font-size: 16px;
	line-height: 32px;
	border-radius: 10px;
	background: #6B20F3;
	text-transform: uppercase;
}
