@media(max-width: 1800px){
	.container{
		max-width: 96%;
	}
	.banner__title {
		font-size: 65px;
		line-height: 75px;
	}
	.banner__text {
		font-size: 29px;
		margin: 30px 0 26px;
		line-height: 37px;
	}
	.banner__right {
		margin-right: 120px;
		max-width: 460px;
	}
	.banner__btn {
		line-height: 29px;
		font-size: 17px;
		padding: 20px 40px;
	}
	.category__btn{
		line-height: 29px;
		font-size: 17px;
		padding: 15px 60px;
	}
	.author__btn{
		line-height: 29px;
		font-size: 17px;
		padding: 21px 30px;
	}
	.platform__btn{
		line-height: 29px;
		font-size: 17px;
		padding: 17px 70px;
	}
	.title{
		font-size: 32px;
	}
	.platform__info-title {
		font-size: 29px;
		margin-bottom: 20px;
	}
	.platform__info-text {
		font-size: 21px;
	}
	.footer__bottom-item {
		max-width: 510px;
	}
	.footer__bottom-slide{
		gap: 20px;
	}
}
@media(max-width: 1700px){
	.header__logo {
		font-size: 25px;
		margin-right: 50px;
	}
	.footer__logo{
		font-size: 23px;
	}
	.header__left .header__link, .header__search {
		font-size: 18px;
	}
	.header__right .header__link {
		font-size: 16px;
	}
	.header__register {
		line-height: 22px;
		font-size: 17px;
		padding: 8px 20px;
	}
	.header__sign {
		line-height: 24px;
		font-size: 17px;
		padding: 8px 24px;
	}
	.title {
		font-size: 30px;
	}
	.slider__item{
		max-width: none;
	}
	.slider__thumbnail img{
		display: block;
		margin: 0 auto 15px;
	}
	.slider__item-title{
		margin-top: 5px;
		font-size: 24px;
	}
	.slider__statistics-top {
		padding: 5px 20px 5px 10px;
		font-size: 14px;
		margin-bottom: 12px;
	}
	.slider__statistics-value {
		font-size: 19px;
	}
	.slider__statistics-state {
		font-size: 13px;
	}
	.slider__item-info {
		min-height: 220px;
	}
	.slider__item-text {
		font-size: 14px;
		line-height: 22px;
	}
	.platform__item img{
		max-height: 230px;
	}
	.platform__title {
		margin-bottom: 60px;
	}
	.platform__info-title {
		font-size: 27px;
		margin-bottom: 18px;
	}
	.platform__info-text {
		font-size: 21px;
	}
	.platform {
		margin: 110px 0 120px;
	}
	.category__item{
		font-size: 23px;
		padding-right: 15px;
	}
	.category__item a{
		display: flex;
		align-items: center;
	}
	.category__item img{
		max-width: 40px;
	}
	.category__btn-box {
		margin-top: 45px;
	}
	.platform__btn-box{
		margin-top: 45px;
	}
	.author__name{
		font-size: 26px;
		line-height: 40px;
	}
	.author__proff {
		font-size: 19px;
		line-height: 40px;
	}
	.author__categories-link {
		font-size: 16px;
		padding: 18px 25px;
		font-family: var(--ar);
		background: #F1F1F1;
		border-radius: 30px;
	}
	.footer__adress,
	.footer__tel{
		font-size: 21px;
	}
	.footer__fill-item {
		font-size: 18px;
		line-height: 22px;
	}
	.footer__bottom-title {
		font-size: 20px;
		line-height: 22px;
	}
	.footer__bottom-text {
		font-size: 17px;
		line-height: 22px;
	}
	.footer__bottom-date {
		font-size: 15px;
		line-height: 20px;
	}
	.footer__bottom-more{
		display: none;
	}
	.footer__bottom-swiper {
		margin-right: 0px;
	}
}
@media(max-width: 1500px){
	.header__logo {
		font-size: 22px;
	}
	.slider__wrapper{
		margin-top: 20px;
	}
	.slider__subtitle{
		font-size: 20px;
		line-height: 26px;
	}
	.footer__logo{
		font-size: 20px;
	}
	.header__left .header__link, .header__search {
		font-size: 16px;
	}
	.header__right .header__link {
		font-size: 15px;
	}
	.header__register {
		font-size: 16px;
	}
	.header__sign {
		font-size: 16px;
	}
	.banner__title {
		font-size: 58px;
		line-height: 65px;
	}
	.banner__text {
		font-size: 27px;
		margin: 25px 0 26px;
		line-height: 35px;
	}
	.banner__right {
		margin-right: 0px;
		max-width: 460px;
	}
	.banner__slide-title {
		font-size: 25px;
		margin-top: 17px;
		margin-bottom: 10px;
	}
	.banner__slide-text {
		font-size: 18px;
	}
	.banner__btn {
		line-height: 29px;
		font-size: 16px;
		padding: 15px 30px;
	}
	.category__btn{
		font-size: 16px;
		padding: 15px 50px;
	}
	.author__btn{
		line-height: 29px;
		font-size: 16px;
		padding: 18px 30px;
	}
	.platform__btn{
		line-height: 29px;
		font-size: 16px;
		padding: 15px 70px;
	}
	.banner {
		margin-top: 80px;
	}
	.title {
		font-size: 28px;
	}
	.platform__item{
		max-width: 900px;
	}
	.platform__info-title {
		font-size: 25px;
		margin-bottom: 15px;
	}
	.platform__info {
		max-width: 450px;
	}
	.platform__info-text {
		font-size: 19px;
	}
	.platform {
		margin: 95px 0 100px;
	}
	.category__btn-box {
		margin-top: 35px;
	}
	.platform__btn-box{
		margin-top: 35px;
	}
	.author__item img{
		max-width: 80%;
	}
	.author__info{
		text-align: center;
	}
	.author__categories-link {
		font-size: 15px;
		padding: 14px 22px;
	}
	.author__categories{
		max-width: 1100px;
		column-gap: 20px;
		row-gap: 18px;
	}
	.footer {
		padding: 80px 0 70px;
	}
	.footer__bottom-slide{
		margin-top: 30px;
	}
	.footer__fill{
		margin-top: 60px;
	}
	.footer__bottom {
		margin-top: 50px;
	}
	.footer__bottom-text {
		font-size: 15px;
		line-height: 22px;
	}
	.footer__bottom-item {
		padding: 16px 45px 16px 16px;
	}
	.footer__fill-item {
		font-size: 16px;
		line-height: 16px;
	}
	.footer__adress, .footer__tel {
		font-size: 18px;
	}
	.footer__top-info{
		max-width: 470px;
	}
	.footer__bottom-item {
		max-width: 450px;
	}
}
@media(max-width: 1300px){
	.banner {
		margin-top: 60px;
	}
	.banner__left {
		max-width: 470px;
	}
	.banner__right {
		margin-right: 0px;
		max-width: 390px;
	}
	.banner__title {
		font-size: 45px;
		line-height: 50px;
	}
	.banner__text {
		font-size: 23px;
		margin: 13px 0 20px;
		line-height: 33px;
	}
	.banner__slide-text {
		font-size: 16px;
	}
	.banner__slide-title {
		font-size: 23px;
		margin-top: 12px;
	}
	.author__name {
		font-size: 21px;
		line-height: 30px;
	}
	.author__proff {
		font-size: 16px;
		line-height: 30px;
	}
	.author__info {
		margin-top: 18px;
	}
}
@media(max-width: 1200px){
	.header__logo {
		font-size: 20px;
		margin-right: 40px;
	}
	.slider__wrapper{
		margin-top: 0px;
	}
	.slider__subtitle{
		font-size: 17px;
		line-height: 23px;
	}
	.footer__logo{
		font-size: 17px;
	}
	.header__left .header__link, .header__search {
		font-size: 15px;
	}
	.header__right .header__link {
		font-size: 14px;
	}
	.header__register {
		margin: 0 21px 0 30px;
		font-size: 15px;
	}
	.header__sign {
		font-size: 15px;
	}
	.title {
		font-size: 26px;
	}
	.slider__item-title{
		margin-top: 3px;
		font-size: 20px;
	}
	.slider__statistics-fill{
		gap: 20px;
	}
	.slider__statistics-top {
		font-size: 12px;
	}
	.slider__statistics-value {
		font-size: 17px;
	}
	.slider__item-info {
		min-height: 205px;
	}
	.slider__prev, .slider__next{
		top: 47%;
		width: 12px;
	}
	.slider__prev{
		left: -27px;
	}
	.slider__next {
		right: -27px;
	}
	.slider__item-text {
		font-size: 13px;
	}
	.platform__info-title {
		font-size: 20px;
	}
	.platform__info-text {
		font-size: 17px;
	}
	.platform__info {
		max-width: 420px;
	}
	.platform__item {
		max-width: 800px;
	}
	.platform {
		margin: 85px 0 80px;
	}
	.category{
		margin-top: 80px;
	}
	.category__column:last-child{
		display: none;
	}
	.category__title-icon{
		width: 32px;
	}
	.author{
		margin: 80px 0 70px;
	}
	.author__categories {
		max-width: 950px;
	}
	.author__categories-link {
		font-size: 14px;
		padding: 12px 18px;
	}
	.footer__bottom-text {
		font-size: 13px;
		line-height: 20px;
	}
	.footer__bottom-date {
		font-size: 12px;
		line-height: 15px;
	}
	.footer__fill-item {
		font-size: 15px;
		line-height: 16px;
	}
	.footer__adress, .footer__tel {
		font-size: 17px;
	}
	.footer__list-link img{
		width: 30px;
	}
	.footer__bottom-title {
		font-size: 17px;
		line-height: 18px;
	}
	.footer__bottom-item {
		max-width: 350px;
	}
}
@media(max-width: 1000px){
	.banner__left {
		max-width: 425px;
	}
	.slider__subtitle{
		font-size: 15px;
		line-height: 20px;
	}
	.banner__right {
		margin-right: 0px;
		max-width: 280px;
	}
	.banner__title {
		font-size: 40px;
		line-height: 45px;
	}
	.banner__text {
		font-size: 20px;
		line-height: 30px;
	}
	.banner__slide-text {
		font-size: 14px;
	}
	.banner__slide-title {
		font-size: 21px;
		margin-top: 8px;
		margin-bottom: 3px;
	}
	.banner__btn {
		font-size: 13px;
		padding: 9px 27px;
	}
	.category{
		margin-top: 65px;
	}
	.category__btn{
		line-height: 29px;
		font-size: 13px;
		padding: 9px 30px;
	}
	.platform__btn{
		line-height: 29px;
		font-size: 13px;
		padding: 10px 50px;
	}
	.author{
		margin: 65px 0 70px;
	}
	.author__btn{
		font-size: 13px;
		padding: 15px 25px;
	}
	.slider__prev, .slider__next{
		display: none;
	}
	.slider__item-title {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.slider__item-text {
		font-size: 12px;
		line-height: 20px;
	}
	.slider__statistics-value {
		font-size: 15px;
	}
	.slider__statistics-state {
		font-size: 11px;
	}
	.slider__statistics-top {
		font-size: 11px;
	}
	.slider__item-info {
		min-height: 195px;
	}
	.platform__item img {
		max-height: 180px;
	}
	.platform__info-title {
		font-size: 20px;
	}
	.platform__info-text {
		font-size: 15px;
	}
	.platform__info {
		max-width: 360px;
	}
	.platform__item {
		max-width: 650px;
	}
	.title {
		font-size: 24px;
	}
	.platform {
		margin: 75px 0 65px;
	}
	.category__title{
		margin-bottom: 35px;
	}
	.author__name {
		font-size: 18px;
		line-height: 25px;
	}
	.author__proff {
		font-size: 14px;
		line-height: 25px;
	}
	.author__items {
		row-gap: 50px;
	}
	.author__item:nth-last-child(-n+2){
		display: none;
	}
	.author__item {
		max-width: 30%;
	}
	.author__name {
		font-size: 16px;
		line-height: 22px;
	}
	.author__proff {
		font-size: 12px;
		line-height: 20px;
	}
	.author__categories-link {
		font-size: 11px;
		padding: 11px 15px;
	}
	.author__categories {
		max-width: 800px;
	}
	.footer__top {
		display: none;
	}
	.footer__top-mobile{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.footer__top-info {
		flex-direction: column;
		max-width: auto;
		align-items: flex-end;
		gap: 5px;
		margin-bottom: 7px;
	}
	.footer__fill{
		display: none;
	}
	.footer__list{
		justify-content: flex-end;
	}
	.footer {
		padding: 50px 0 70px;
	}
	.footer__bottom-item {
		max-width: 320px;
	}
}
@media(max-width: 900px){
	.header__fill{
		display: none;
	}
	.header__mobile-fill{
		display: flex;
	}
	.category__item {
		font-size: 20px;
	}
	.category__item img {
		max-width: 35px;
		margin-right: 8px;
	}
	.author__categories-link:nth-last-child(-n+4){
		display: none;
	}
}
@media(max-width: 800px){
	.banner {
		margin-top: 50px;
	}
	.banner__left {
		max-width: 300px;
	}
	.banner__right {
		margin-right: 0px;
		max-width: 180px;
	}
	.banner__title {
		font-size: 28px;
		line-height: 34px;
	}
	.banner__text {
		font-size: 14px;
		line-height: 22px;
		margin: 13px 0 15px;
	}
	.banner__slide-text {
		font-size: 8px;
	}
	.banner__slide-title {
		font-size: 13px;
		line-height: 18px;
	}
	.banner__btn {
		line-height: 20px;
		font-size: 13px;
		padding: 9px 27px;
	}
	.platform__item img {
		max-height: 140px;
	}
	.platform__info-title {
		font-size: 16px;
	}
	.platform__info-text {
		font-size: 12px;
		line-height: 16px;
	}
	.platform__item {
		max-width: 500px;
	}
	.platform__info {
		max-width: 300px;
	}
	.title {
		font-size: 22px;
	}
	.platform {
		margin: 70px 0 60px;
	}
	.category__item{
		line-height: 30px;
	}
	.category__item {
		font-size: 17px;
	}
	.category__column .category__item:nth-child(4),
	.category__column .category__item:last-child{
		display: none;
	}
	.category__btn-box{
		text-align: center;
	}
	.category__title-icon {
		width: 26px;
		margin-right: 10px;
	}
	.category__title {
		margin-bottom: 25px;
	}
	.author__title{
		margin-bottom: 40px;
	}
	.footer__adress, .footer__tel {
		font-size: 14px;
	}
	.footer__list-link img {
		width: 23px;
	}
	.footer__bottom-title {
		font-size: 15px;
		line-height: 16px;
	}
	.footer__bottom {
		margin-top: 30px;
	}
	.footer__bottom-text {
		font-size: 11px;
		line-height: 17px;
	}
	.footer__bottom-date {
		font-size: 10px;
		line-height: 13px;
	}
}
@media(max-width: 600px){
	.header__mobile-logo{
		font-size: 20px;
	}
	.footer__logo{
		line-height: 27px;
		font-size: 14px;
	}
	.header__mobile-burger img,
	.header__mobile-profile img{
		width: 30px;
	}
	.banner__left {
		max-width: 260px;
	}
	.banner__title {
		font-size: 26px;
		line-height: 32px;
	}
	.banner__text {
		font-size: 12px;
		line-height: 19px;
		margin: 13px 0 10px;
	}
	.banner__btn {
		padding: 7px 20px;
		font-size: 10px;
		line-height: 24px;
	}
	.platform__btn{
		line-height: 14px;
		font-size: 7px;
		padding: 7px 42px;
	}
	.category__btn {
		font-size: 8px;
		padding: 7px 45px;
		line-height: 14px;
	}
	.author__btn {
		font-size: 7px;
		padding: 7px 45px;
		line-height: 14px;
	}
	.platform__btn-box{
		margin-top: 15px;
	}
	.author__prev,
	.author__next{
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		z-index: 2;
		position: absolute;
		top: 57%;
		height: 10px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		cursor: pointer;
	}
	.author__prev{
		right: 185px;
	}
	.author__next{
		left: 185px;
	}
	.slider__item-title {
		font-size: 15px;
		line-height: 18px;
	}
	.slider__item-text {
		font-size: 9px;
		line-height: 12px;
	}
	.slider__swiper{
		padding-bottom: 35px;
	}
	.slider__statistics-value{
		font-size: 12px;
	}
	.slider__statistics-state{
		font-size: 8px;
	}
	.slider__statistics-top{
		font-size: 9px;
	}
	.slider__item-info {
		min-height: 145px;
	}
	.slider__swiper{
		margin-top: 10px;
	}
	.slider__subtitle {
		font-size: 12px;
		line-height: 16px;
		margin-top: 5px;
	}
	.slider__title-box{
		max-width: 183px;
	}
	.slider__thumbnail img {
		margin: 0 auto 10px;
	}
	.slider__statistics-top{
		margin-bottom: 0px;
	}
	.slider__item{
		margin: 0 auto;
		max-width: 220px;
	}
	.platform {
		margin: 65px 0 50px;
	}
	.category{
		margin-top: 40px;
	}
	.category__item {
		font-size: 15px;
		margin-bottom: 8px;
	}
	.category__item img {
		max-width: 28px;
	}
	.category__title {
		margin-bottom: 20px;
	}
	.category__btn-box {
		margin-top: 25px;
	}
	.header__mobile-logo{
		font-size: 18px;
	}
	.header__mobile-burger{
		margin-right: 20px;
	}
	.header__mobile-burger img,
	.header__mobile-profile img{
		width: auto;
	}
	.platform__info-title {
		font-size: 13px;
	}
	.platform__info-text {
		font-size: 9px;
		line-height: 13px;
	}
	.platform__info {
		max-width: 220px;
	}
	.platform__item {
		max-width: 430px;
	}
	.platform__item img {
		max-height: 120px;
	}
	.platform__item + .platform__item {
		margin-top: 35px;
	}
	.author{
		margin: 45px 0 70px;
	}
	.author__items{
		display: none;
	}
	.author__slider{
		display: block;
	}
	.author__name{
		font-size: 14px;
		line-height: 19px;
	}
	.author__title{
		margin-bottom: 22px;
	}
	.author__proff{
		font-size: 9px;
		line-height: 19px;
	}
	.author__categories-link {
		font-size: 7px;
		padding: 7px 12px;
	}
	.author__categories-link:nth-last-child(-n+6){
		display: none;
	}
	.author__categories {
		max-width: 330px;
		column-gap: 12px;
		row-gap: 8px;
		margin: 28px auto 32px;
	}
	.author__btn-box{
		text-align: center;
	}
	.author__btn-box-1{
		display: none;
	}
	.author__btn-box-2{
		display: block;
	}
	.footer__adress, .footer__tel {
		font-size: 10px;
	}
	.footer__list-link img {
		width: 15px;
	}
	.footer__bottom {
		margin-top: 15px;
	}
	.footer__bottom-title {
		font-size: 9px;
		line-height: 12px;
	}
	.footer__bottom-text {
		font-size: 8px;
		line-height: 12px;
	}
	.footer__bottom-date {
		font-size: 7px;
		line-height: 10px;
	}
	.footer__bottom-item {
		padding: 10px 32px 10px 10px;
		gap: 8px;
		max-width: 220px;
	}
	.footer__bottom-slide{
		gap: 15px;
		margin-top: 15px;
	}
	.footer {
		padding: 36px 0 60px;
	}
	.footer__adress, .footer__tel{
		line-height: 15px;
	}
	.footer__bottom-item {
		max-width: 220px;
	}
}
@media(max-width: 500px){
	.banner__left {
		max-width: 215px;
	}
	.banner__right {
		max-width: 140px;
	}
	.banner__title {
		font-size: 24px;
		line-height: 28px;
	}
	.banner__text {
		font-size: 10px;
		line-height: 14px;
		margin: 13px 0 10px;
	}
	.banner__btn {
		padding: 6px 18px;
		font-size: 6px;
		line-height: 12px;
	}
	.banner__slide-title {
		font-size: 9px;
		line-height: 12px;
	}
	.banner__slide-text {
		font-size: 6px;
		line-height: 10px;
	}
	.platform__info {
		max-width: 190px;
	}
	.platform__item img {
		max-height: 95px;
	}
	.title {
		font-size: 20px;
	}
	.platform__item {
		max-width: 340px;
	}
	.platform__info-title {
		font-size: 11px;
		margin-bottom: 6px;
	}
	.platform__info-text {
		font-size: 8px;
	}
	.platform__title {
		margin-bottom: 40px;
	}
	.platform__item + .platform__item {
		margin-top: 25px;
	}
	.platform {
		margin: 60px 0 42px;
	}
	.category__item img {
		max-width: 22px;
	}
	.category__item {
		font-size: 12px;
	}
}
@media(max-width: 400px){
	.banner__title {
		font-size: 17px;
		line-height: 23px;
	}
	.banner__left {
		max-width: 165px;
	}
	.banner__text {
		font-size: 8px;
		line-height: 12px;
		margin: 5px 0 10px;
	}
	.banner__right {
		max-width: 110px;
	}
	.banner__slide-title {
		font-size: 8px;
		line-height: 10px;
	}
	.title {
		font-size: 19px;
	}
	.category__item {
		padding-right: 5px;
		font-size: 11px;
	}
	.category__item img {
		margin-right: 5px;
	}
	.footer__logo {
		line-height: 20px;
	}
}
@media(max-width: 360px){
	.platform__info {
		max-width: 165px;
	}
	.platform__item img {
		max-height: 85px;
	}
	.platform__info-text {
		font-size: 7px;
	}
	.platform__info-title {
		font-size: 10px;
		margin-bottom: 4px;
	}
}
