/* Banner */
.banner {
	margin-top: 115px;
}
.banner__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner__left {
	max-width: 680px;
	width: 100%;
}
.banner__title {
	font-size: 74px;
	font-family: var(--sf-m);
	line-height: 85px;
}
.banner__text {
	font-size: 32px;
	font-family: var(--sf-r);
	margin: 41px 0 26px;
	line-height: 40px;
}
.banner__btn {
	font-family: var(--ar);
	color: white;
	text-transform: uppercase;
	line-height: 36px;
	font-size: 19px;
	padding: 20px 60px;
	background-color: rgba(235, 80, 63, 1);
	display: inline-block;
}
.banner__right {
	margin-right: 170px;
	max-width: 540px;
	width: 100%;
}

.banner__slide-title {
	font-family: var(--ar);
	font-size: 28px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 25px;
	margin-bottom: 13px;
}
.banner__slide-text {
	font-family: var(--ar);
	font-size: 20px;
	line-height: 20px;
}
/* Banner */

/* Platform */
.platform{
	margin: 125px 0 140px;
}
.platform__title{
	margin-bottom: 85px;
}
.platform__item{
	max-width: 950px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.platform__item + .platform__item{
	margin-top: 50px;
}
.platform__info{
	text-align: center;
	max-width: 475px;
	width: 100%;
}
.platform__info-title{
	font-family: var(--sf-b);
	font-size: 32px;
	margin-bottom: 25px;
}
.platform__info-text{
	font-family: var(--sf-m);
	font-size: 23px;
	line-height: 22px;
	letter-spacing: 0.8px;
	color: #9A9A9A;
}
/* Platform */

/* Slider */
.slider__inner{
	position: relative;
}
.slider__title-box{
	max-width: 360px;
	width: 100%;
}
.slider__title{
	margin-bottom: 0;
}
.slider__subtitle{
	font-family: var(--sf-r);
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -1px;
	margin-top: 15px;
}
.slider__subtitle span{
	color: #C8C8C8;
}
.slider__swiper{
	margin-top: 55px;
	padding-bottom: 50px;
}
.slider__wrapper{
	margin-top: 55px;
}
.slider__thumbnail img{
	border-radius: 50px;
	margin-bottom: 15px;
}
.slider__item{
	max-width: 400px;
	width: 100%;
	color: #212529;
}
.slider__thumbnail-line{
	height: 4px;
	border-radius: 4px;
	background: linear-gradient(90deg, #5A2FED 0%, #8906FD 100%);
}
.slider__prev,
.slider__next{
	top: 50%;
	z-index: 1;
	position: absolute;
	cursor: pointer;
}
.slider__prev{
	left: -35px;
}
.slider__next{
	right: -35px;
}
.swiper-pagination-bullet-active{
	background: #000;
}
.platform__btn-box{
	margin-top: 50px;
}
.platform__btn{
	padding: 17px 102px;
}
.slider__item-title{
	font-family: var(--se-r), sans-serif;
	font-size: 28px;
	line-height: 33px;
	margin-bottom: 8px;
}
.slider__item-text{
	max-width: 330px;
	width: 100%;
	font-family: var(--se-r), sans-serif;
	font-size: 16px;
	line-height: 24px;
}
.slider__item-info{
	min-height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.slider__statistics-top{
	padding: 5px 26px 5px 10px;
	font-family: var(--se-b), sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to right, #5A2FED, #8906FD);
	margin-bottom: 15px;
}
.slider__statistics-fill{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 50px;
}
.slider__statistics-col{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.slider__statistics-value{
	font-family: var(--se-r), sans-serif;
	font-size: 22px;
	line-height: 22px;
}
.slider__statistics-state{
	font-family: var(--se-r), sans-serif;
	color: #4E4E56;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
}
/* Slider */

/* Category */
.category {
	margin-top: 100px;
}
.category__title {
	display: inline-flex;
	align-items: center;
}
.category__title-icon {
	margin-right: 15px;
}
.category__items {
	display: flex;
	justify-content: space-between;
	font-family: var(--ar);
	font-size: 31px;
}
.category__item {
	width: 100%;
	padding-right: 36px;
	color: #000;
	line-height: 55px;
	margin-bottom: 15px;
	font-size: 28px;
}
.category__item img{
	max-width: 58px;
	border-radius: 50%;
	margin-right: 13px;
}
.category__btn-box{
	margin-top: 75px;
}
.category__btn{
	padding: 15px 100px;
}
/* Category */

/* Author */
.author{
	margin: 100px 0 110px;
}
.author__slider{
	display: none;
}
.author__slider-item img{
	max-width: 160px;
	height: 150px;
	display: block;
	margin: 0 auto;
}
.author__pagination{
	margin-top: 8px;
	text-align: center;
}
.author__pagination .swiper-pagination-bullet,
.slider__pagination .swiper-pagination-bullet{
	width: 5px;
	height: 5px;
}
.author__items{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
	row-gap: 90px;
}
.author__item{
	max-width: 22%;
	width: 100%;
}
.author__item img{
	display: block;
	margin: 0 auto;
}
.author__info{
	margin-top: 36px;
}
.author__name{
	display: block;
	font-family: var(--ep-b);
	font-size: 33px;
	line-height: 45px;
}
.author__proff{
	font-size: 22px;
	line-height: 45px;
	font-family: var(--ep-r);
	color: #000000A3;
}
.author__categories{
	max-width: 1430px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 30px;
	row-gap: 22px;
	margin: 50px auto 55px;
}
.author__categories-link{
	font-size: 17px;
	padding: 24px 30px;
	font-family: var(--ar);
	background: #F1F1F1;
	border-radius: 30px;
}
.author__btn-box-2{
	display: none;
}
.author__btn{
	padding: 21px 40px;
}
/* Author */

/* Project View */
.project__view{
	margin: 65px 0 70px;
}
.project__view-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.project__view-status{
	font-family: var(--sf-b);
	font-style: italic;
	font-size: 10px;
	color: #1a8cff;
	background: #d1e8ff;
	border-left: 5px solid #1a8cff;
	display: inline-block;
	padding: 6px 16px 6px 12px;
	text-transform: uppercase;
}
.project__view-status{
	margin-bottom: 8px;
}
.project__view-title{
	font-size: 36px;
	font-family: var(--ar);
	font-weight: 700;
	margin-bottom: 8px;
}
.project__view-text{
	font-family: var(--ar);
	font-size: 20px;
	line-height: 25px;
	color: #9A9A9A;
	margin-bottom: 25px;
}
.project__view-video{
	max-width: 850px;
	width: 100%;
}
.project__view-info{
	max-width: 430px;
	width: 100%;
	margin: 0 auto;
}
.project__view-info-price{
	font-family: var(--sf-m);
	font-size: 41px;
	line-height: 1.5;
	letter-spacing: -.02em;
	color: #1b2336;
	margin-bottom: 8px;
}
.project__view-info-from,
.project__view-info-to{
  font-size: 14px;
  line-height: 1.5;
  font-family: var(--sf-r);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #464c5e;
}
.project__view-info-items{
	margin-top: 32px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.project__view-info-progress{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.project__view-info-progress-bar{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 4px;
	margin-top: 4px;
	background-color: #e4eaf2;
}
.project__view-info-progress-line{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(to right,#1f48ff,#00b4ff);
	width: 60%;
}
.project__view-info-item{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.project__view-info-item-value{
	margin-bottom: 5px;
	font-family: var(--sf-m);
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: .01em;
	color: #1b2336;
}
.project__view-info-btn{
	padding: 20px 50px;
	transition: box-shadow .3s;
	font-size: 16px;
	line-height: 1.5;
	font-family: var(--sf-m);
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #fff;
	background: #1a82ff;
	text-align: center;
	border-radius: 3px;
}
.project__view-info-actions{
	margin-top: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.project__view-info-btn:hover {
  box-shadow: 0 6px 6px -2px rgba(26,130,255,.4);
}
.project__view-info-item-label{
	font-size: 13px;
  line-height: 1.5;
	font-family: var(--sf-r);
	font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8d92a0;
}
/* Project View */

/* Project Content */
.project__content-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 95px;
}
.project__content{
	margin-bottom: 50px;
}
.project__tabs{
	max-width: 1020px;
	width: 100%;
	font-family: var(--sf-r);
	color: #9A9A9A;
}
.project__tabs-top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.project__sidebar{
	max-width: 500px;
	width: 100%;
}
.project__tabs-btn{
	font-size: 20px;
}
.project__tabs-btn.active{
	font-family: var(--sf-b);
}
.project__sidebar-item{
	display: flex;
	gap: 25px;
	padding: 22px 0 16px;
}
.project__sidebar-item + .project__sidebar-item{
	border-top: 1px solid;
	border-image: linear-gradient(90deg, rgba(217, 217, 217, 0) -0.48%, #D9D9D9 48.14%, rgba(217, 217, 217, 0) 100.15%);
	border-image-slice: 1;
}
.project__sidebar-item img{
	height: 100%;
	max-width: 210px;
}
.project__sidebar-item-type{
	display: flex;
	align-items: center;
	gap: 9px;
	margin-top: 10px;
}
.project__sidebar-open{
	display: none;
	align-items: center;
}
.project__sidebar-open img{
	width: 22px;
}
.project__sidebar-item-location{
	display: flex;
	align-items: center;
	font-family: var(--sf-r);
	font-size: 10px;
	color: #AAAAAA;
}
.project__sidebar-item-location img{
	margin-right: 2px;
	height: 9px;
}
.project__sidebar-item-title{
	font-family: var(--sf-m);
	font-size: 18px;
	line-height: 20px;
	color: #000;
	margin-bottom: 7px;
}
.project__sidebar-item-text{
	font-family: var(--sf-r);
	color: #AAAAAA;
	font-size: 11px;
	line-height: 14px;
}
.project__sidebar-item-category{
	font-family: var(--sf-r);
	font-size: 10px;
	color: #AAAAAA;
}
.project__sidebar-item-btn{
	display: inline-block;
	margin-top: 16px;
	border-radius: 3px;
	padding: 9px 16px;
	background: #FFC725A6;
	font-family: var(--ar);
	font-weight: 700;
	font-size: 10px;
	line-height: 9px;
	color: #fff;
}
.project__sidebar-title{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
	font-size: 22px;
	line-height: 27px;
	font-family: var(--sf-b);
	color: #fff;
	padding: 26px 0;
	background: linear-gradient(90deg, #5A2FED 0%, #8906FD 100%),
	linear-gradient(0deg, #D9D9D9, #D9D9D9);
}
.project__tabs-content{
	display: none;
}
.project__tabs-content p{
	font-size: 19px;
	line-height: 30px;
}
.project__tabs-content-item{
	display: flex;
	align-items: center;
	gap: 28px;
}
.project__tabs-content-item img {
	max-width: 450px;
}
.project__tabs-content-item.active{
	display: block;
}
.project__tabs-content-item.left.active img{
	float: left;
	margin-right: 28px;
}
.project__tabs-content-item.right{
	flex-direction: row-reverse;
}
.project__tabs-content-item.right.active img{
	float: right;
	margin-left: 28px;
}
.project__tabs-content-item-text.active{
	overflow: visible;
}
.project__tabs-content-item-text{
	max-height: 140px;
	overflow: hidden;
}
.project__tabs-content-item-text.active{
	max-height: none;
}
.project__tabs-content-text{
	margin: 63px 0;
}
.project__tabs-content-text span{
	font-size: 20px;
	font-family: var(--sf-b);
}
.project__tabs-content-item-more{
	text-align: center;
	margin-top: 10px;
	display: block;
}
.project__view-bottom{
	margin-top: 45px;
	display: flex;
	align-items: center;
}
.project__view-info-bottom{
	display: flex;
	flex-direction: column;
	margin-top: 45px;
	font-family: var(--sf-r);
	letter-spacing: -0.3px;
	color: #9A9A9A;
	gap: 5px;
}
.project__view-info-bottom-question{
	font-size: 22px;
}
.project__view-info-bottom-reply{
	font-size: 24px;
}
.project__view-info-bottom-reply a{
	color: #31B8FF;
}
.project__view-location{
	margin-right: 25px;
	display: flex;
	align-items: center;
	font-family: var(--sf-r);
	color: #9A9A9A;
	font-size: 22px;
	letter-spacing: -1.3px;
}
.project__view-category{
	font-family: var(--sf-r);
	color: #9A9A9A;
	font-size: 22px;
	letter-spacing: -1.3px;
}
.project__view-location img{
	margin-right: 5px;
	width: 26px;
}
/* Project Content */

/* Project Question */
.project__question-title{
	font-family: var(--sf-r);
}
.project__question-items{
	display: flex;
	justify-content: space-between;
}
.project__question-text{
	margin-top: 8px;
	font-family: var(--sf-r);
	color: #AAAAAA;
	max-width: 280px;
	font-size: 25px;
	line-height: 36px;
	width: 100%;
}
.project__question-item{
	text-align: center;
	padding: 14px 36px 36px 36px;
	border: 2px solid transparent;
	background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #5A2FED 0%, #8906FD 100%),
	linear-gradient(0deg, #CACACA, #CACACA);
	border-radius: 6px;
}
.project__question-general{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 14px 36px 10px 36px;
}
.project__question-general-title{
	font-family: var(--sf-r);
	color: #AAAAAA;
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 5px;
}
.project__question-title{
	margin-bottom: 34px;
}
.project__question-general-btn{
	margin-top: 5px;
	font-family: var(--ar);
	font-weight: 700;
	font-size: 7px;
	line-height: 12px;
	padding: 6px 42px;
	color: #fff;
	border-radius: 4px;
	background: #FFC725A6;
}
.project__question-general-text{
	font-family: var(--ar);
	color: #AAAAAA;
	max-width: 280px;
	font-size: 9px;
	line-height: 13px;
	width: 100%;
}
/* Project Question */

/* Project Related */
.project__related{
	margin: 95px 0 70px;
}
.project__related-post{
	max-width: 650px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.project__related-top{
	max-width: 1300px;
	width: 100%;
	font-family: var(--sf-r);
	padding: 14px;
	background: #CFA4D2;
	color: #fff;
	margin-bottom: 26px;
}
.project__related-top p{
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	line-height: 25px;
	max-width: 390px;
	width: 100%;
}
.project__related-title{
	font-family: var(--sf-m);
	font-size: 23px;
	margin-bottom: 10px;
}
.project__related-text{
	font-family: var(--sf-r);
	color: #AAAAAA;
	font-size: 9px;
	line-height: 15px;
	margin-bottom: 9px;
}
.project__related-price{
	font-size: 15px;
	line-height: 20px;
	font-family: var(--sf-m);
	margin-right: 7px;
	color: #AAAAAA;
}
.project__related-delivery{
	font-family: var(--sf-r);
	font-size: 12px;
	line-height: 20px;
	color: #AAAAAA;
}
.project__related-btn{
	display: inline-block;
	margin-top: 25px;
	color: #fff;
	font-size: 10px;
	line-height: 12px;
	font-family: var(--ar);
	background: #FFC725A6;
	padding: 9px 31px;
	border-radius: 4px;
}
.project__related-info{
	max-width: 300px;
	width: 100%;
}
/* Project Related */

/* Project Support */
.project__support-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.project__support-left{
	display: flex;
	align-items: center;
}
.project__support-item{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.project__support-price{
	font-size: 30px;
	font-family: var(--sf-r);
	color: #9A9A9A;
	letter-spacing: -1.8px;
	margin-top: 20px;
}
.project__support-right{
	display: flex;
}
.project__support-form{
	display: flex;
	align-items: flex-end;
}
.project__support-btn{
	color: #fff;
	font-family: var(--ar);
	font-weight: 700;
	font-size: 15px;
	padding: 14px 87px;
	background: linear-gradient(90deg, #5A2FED 0%, #8906FD 100%),
	linear-gradient(0deg, #FFC725, #FFC725);
	border-radius: 8px;
}
.project__support-text{
	font-size: 22px;
	font-family: var(--ar);
	color: #AAAAAA;
	margin-left: 49px;
}
.project__support-item + .project__support-item{
	position: relative;
	padding-left: 105px;
}
.project__support-title{
	margin-bottom: 30px;
}
.project__support{
	margin-bottom: 80px;
}
.project__support-item + .project__support-item::before{
	content: '';
	position: absolute;
	top: 35px;
	left: 27px;
	width: 46px;
	height: 4px;
	background: #D9D9D9;
}
.project__support-input{
	width: 450px;
	margin-right: 30px;
	font-size: 31px;
	font-family: var(--ar);
	border-bottom: 2px solid #D9D9D9;
}
/* Project Support */

/* Project Team */
.project__team-info{
	margin-left: 170px;
	font-family: var(--sf-r);
	max-width: 660px;
	width: 100%;
}
.project__team-top{
	display: flex;
	align-items: flex-start;
}
.project__team-top img{
	max-width: 250px;
}
.project__team-info-title{
	font-size: 32px;
	line-height: 35px;
	color: #000;
	margin-bottom: 13px;
}
.project__team-info-location{
	font-size: 18px;
	color: #AAAAAA;
	display: flex;
	align-items: center;
}
.project__team-info-location img{
	margin-right: 8px;
	height: 24px;
}
.project__team-info-text{
	margin-top: 20px;
	font-size: 18px;
	line-height: 24px;
	color: #9A9A9A;
}
.project__team-fill{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
}
.project__team-item{
	max-width: 22%;
	width: 100%;
}
.project__team-item-info{
	margin-top: 36px;
}
.project__team-item-name{
	display: block;
	font-family: var(--ep-b);
	font-size: 33px;
	line-height: 45px;
}
.project__team-item-proff{
	font-size: 22px;
	line-height: 45px;
	font-family: var(--ep-r);
	color: #000000A3;
}
.project__team-item img {
  display: block;
  margin: 0 auto;
}
.project__team{
	margin-bottom: 110px;
}
/* Project Team */
