/* Banner */
.banner {
	margin-top: 115px;
}
.banner__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner__left {
	max-width: 680px;
	width: 100%;
}
.banner__title {
	font-size: 74px;
	font-family: var(--sf-m);
	line-height: 85px;
}
.banner__text {
	font-size: 32px;
	font-family: var(--sf-r);
	margin: 41px 0 26px;
	line-height: 40px;
}
.banner__btn {
	font-family: var(--ar);
	color: white;
	text-transform: uppercase;
	line-height: 36px;
	font-size: 19px;
	padding: 20px 60px;
	background-color: rgba(235, 80, 63, 1);
	display: inline-block;
}
.banner__right {
	margin-right: 170px;
	max-width: 540px;
	width: 100%;
}

.banner__slide-title {
	font-family: var(--ar);
	font-size: 28px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 25px;
	margin-bottom: 13px;
}
.banner__slide-text {
	font-family: var(--ar);
	font-size: 20px;
	line-height: 20px;
}
/* Banner */

/* Platform */
.platform{
	margin: 125px 0 140px;
}
.platform__title{
	margin-bottom: 85px;
}
.platform__item{
	max-width: 950px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.platform__item + .platform__item{
	margin-top: 50px;
}
.platform__info{
	text-align: center;
	max-width: 475px;
	width: 100%;
}
.platform__info-title{
	font-family: var(--sf-b);
	font-size: 32px;
	margin-bottom: 25px;
}
.platform__info-text{
	font-family: var(--sf-m);
	font-size: 23px;
	line-height: 22px;
	letter-spacing: 0.8px;
	color: #9A9A9A;
}
/* Platform */

/* Slider */
.slider__inner{
	position: relative;
}
.slider__title-box{
	max-width: 360px;
	width: 100%;
}
.slider__title{
	margin-bottom: 0;
}
.slider__subtitle{
	font-family: var(--sf-r);
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -1px;
	margin-top: 15px;
}
.slider__subtitle span{
	color: #C8C8C8;
}
.slider__swiper{
	margin-top: 55px;
	padding-bottom: 50px;
}
.slider__wrapper{
	margin-top: 55px;
}
.slider__thumbnail img{
	border-radius: 50px;
	margin-bottom: 15px;
}
.slider__item{
	max-width: 400px;
	width: 100%;
	color: #212529;
}
.slider__thumbnail-line{
	height: 4px;
	border-radius: 4px;
	background: linear-gradient(90deg, #5A2FED 0%, #8906FD 100%);
}
.slider__prev,
.slider__next{
	top: 50%;
	z-index: 1;
	position: absolute;
	cursor: pointer;
}
.slider__prev{
	left: -35px;
}
.slider__next{
	right: -35px;
}
.swiper-pagination-bullet-active{
	background: #000;
}
.platform__btn-box{
	margin-top: 50px;
}
.platform__btn{
	padding: 17px 102px;
}
.slider__item-title{
	font-family: var(--se-r), sans-serif;
	font-size: 28px;
	line-height: 33px;
	margin-bottom: 8px;
}
.slider__item-text{
	max-width: 330px;
	width: 100%;
	font-family: var(--se-r), sans-serif;
	font-size: 16px;
	line-height: 24px;
}
.slider__item-info{
	min-height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.slider__statistics-top{
	padding: 5px 26px 5px 10px;
	font-family: var(--se-b), sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to right, #5A2FED, #8906FD);
	margin-bottom: 15px;
}
.slider__statistics-fill{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 50px;
}
.slider__statistics-col{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.slider__statistics-value{
	font-family: var(--se-r), sans-serif;
	font-size: 22px;
	line-height: 22px;
}
.slider__statistics-state{
	font-family: var(--se-r), sans-serif;
	color: #4E4E56;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
}
/* Slider */

/* Category */
.category {
	margin-top: 100px;
}
.category__title {
	display: flex;
	align-items: center;
}
.category__title-icon {
	margin-right: 15px;
}
.category__items {
	display: flex;
	justify-content: space-between;
	font-family: var(--ar);
	font-size: 31px;
}
.category__item {
	width: 100%;
	padding-right: 36px;
	color: #000;
	line-height: 55px;
	margin-bottom: 15px;
	font-size: 28px;
}
.category__item img{
	max-width: 58px;
	border-radius: 50%;
	margin-right: 13px;
}
.category__btn-box{
	margin-top: 75px;
}
.category__btn{
	padding: 15px 100px;
}
/* Category */

/* Author */
.author{
	margin: 100px 0 110px;
}
.author__slider{
	display: none;
}
.author__slider-item img{
	max-width: 160px;
	height: 150px;
	display: block;
	margin: 0 auto;
}
.author__pagination{
	margin-top: 8px;
	text-align: center;
}
.author__pagination .swiper-pagination-bullet,
.slider__pagination .swiper-pagination-bullet{
	width: 5px;
	height: 5px;
}
.author__items{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
	row-gap: 90px;
}
.author__item{
	max-width: 22%;
	width: 100%;
}
.author__item img{
	display: block;
	margin: 0 auto;
}
.author__info{
	margin-top: 36px;
}
.author__name{
	display: block;
	font-family: var(--ep-b);
	font-size: 33px;
	line-height: 45px;
}
.author__proff{
	font-size: 22px;
	line-height: 45px;
	font-family: var(--ep-r);
	color: #000000A3;
}
.author__categories{
	max-width: 1430px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 30px;
	row-gap: 22px;
	margin: 50px auto 55px;
}
.author__categories-link{
	font-size: 17px;
	padding: 24px 30px;
	font-family: var(--ar);
	background: #F1F1F1;
	border-radius: 30px;
}
.author__btn-box-2{
	display: none;
}
.author__btn{
	padding: 21px 40px;
}
/* Author */

